{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    {#<h1>Offre de la boutique -  <a href="{{ path('apm_vente_boutique_show', { 'id': boutique.id }) }}">{{ boutique.designation }}</a></h1>#}
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td><a href="{{ path('apm_vente_offre_show', { 'id': offre.id }) }}">{{ offre.code }}</a></td>
                <td>{{ offre.designation }}</td>
                <td>{{ offre.quantite }}</td>
                <td>{{ offre.prixUnitaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_vente_offre_show', { 'id': offre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_offre_edit', { 'id': offre.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_offre_deleteFromList', { 'id': offre.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if boutique != null %}
             <li>
                <a href="{{ path('apm_vente_offre_new', {'id': boutique.id}) }}">Créer une nouvelle offre</a>
             </li>
        {% endif %}
        {% if boutique == null %}
            <li>
                <a href="{{ path('apm_vente_offre_new') }}">Créer une nouvelle offre</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('apm_vente_categorie_new')}}">Créer une catégorie</a>
        </li>
    </ul>
{% endblock %}
