{#{% extends ":base/dashboard:layout.html.twig" %}#}
{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{#{% block content_body %}#}
{% block body %}
    {% if filter is defined %}
        {{ form_start(filter) }}
        {{ form_widget(filter) }}
        <input type="submit" value="Go"/>
        {{ form_end(filter) }}
    {% endif %}
    <p>----------------------------------------------------------------</p>
    Boutique: <strong>SIMINTA</strong>
    <h1> Offres {% if boutique -%} - <a
            href="{{ path('apm_vente_boutique_show', { 'id': boutique.id }) }}">{{ boutique }}
            {% if categorie %}- <a
                href="{{ path('apm_vente_categorie_show', { 'id': categorie.id }) }}">{{ categorie }}</a>{% endif %}
            </a>{% endif %}</h1>
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
            <th>Prix Unitaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td><a href="{{ path('apm_vente_offre_show', { 'id': offre.id }) }}">{{ offre.code }}</a></td>
                <td>{{ offre.designation }}</td>
                <td>{{ offre.prixUnitaire }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('apm_vente_offre_show', { 'id': offre.id }) }}">afficher</a> |
                        </li>
                        {#
                                                {% if app.user == offre.vendeur or offre.boutique !=null and offre.boutique.gerant == app.user or offre.boutique !=null and offre.boutique.proprietaire ==app.user %}
                        #}
                        <li>
                            <a href="{{ path('apm_vente_offre_edit', { 'id': offre.id }) }}">modifier</a> |
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_offre_deleteFromList', { 'id': offre.id }) }}">supprimer</a>
                            |
                        </li>
                        {#  {% endif %}#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

        {% if app.user == vendeur or boutique !=null and boutique.gerant == app.user or boutique !=null and boutique.proprietaire ==app.user %}
            <li>
                <a href="{{ path('apm_vente_offre_new') }}">Créer une nouvelle offre</a>
            </li>
            {% if boutique %}
                <li>
                    <a href="{{ path('apm_vente_categorie_new', {'id': boutique.id}) }}"> Créer une nouvelle catégorie
                        dans
                        la boutique </a>
                </li>
                <li>
                    <a href="{{ path('apm_vente_boutique_show', {'id': boutique.id}) }}"> Afficher la boutique</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('apm_vente_boutique_index') }}"> Liste les boutiques</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a href="{{ path('apm_core_user-dashboard_index') }}"> Retour à l'accueil</a>
        </li>
    </ul>
{% endblock  %}