{#{% extends ":base/dashboard:layout.html.twig" %}#}
{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{#{% block content_body %}#}
{% block body %}
    <h1><strong>{{ offre }}</strong></h1>

    <table>
        <tbody>
        <tr>
            <th>Boutique</th>
            <td>{% if offre.boutique %}<a
                    href="{{ path('apm_vente_boutique_show', { 'id': offre.boutique.id }) }}">
                    <strong>{{ offre.boutique }}</strong></a>{% else %}<i>Free lance</i>{% endif %}</td>
        </tr>
        <tr>
            <th>Vendeur</th>
            <td>{% if offre.vendeur.prenom %} {{ offre.vendeur.prenom }}{% else %}{{ offre.vendeur.username }} {% endif %}</td>
        </tr>

        <tr>
            <th>Catégorie</th>
            <td>{% if offre.categorie %}{{ offre.categorie }}{% endif %}</td>
        </tr>

        <tr>
            <th>Code</th>
            <td>{{ offre.code }}</td>
        </tr>

        <tr>
            <th>Datecreation</th>
            <td>{% if offre.dateCreation %}{{ offre.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Dateexpiration</th>
            <td>{% if offre.dateExpiration %}{{ offre.dateExpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ offre.description }}</td>
        </tr>
        <tr>
            <th>Designation</th>
            <td>{{ offre.designation }}</td>
        </tr>

        <tr>
            <th>Retourne</th>
            <td>{% if offre.retourne %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ offre.etat }}</td>
        </tr>
        <tr>
            <th>Modevente</th>
            <td>{{ offre.modeVente }}</td>
        </tr>
        <tr>
            <th>Modèle</th>
            <td>{{ offre.modelDeSerie }}</td>
        </tr>

        <tr>
            <th>Prixunitaire</th>
            <td>{{ offre.prixUnitaire }}</td>
        </tr>
        <tr>
            <th>Quantite</th>
            <td>{{ offre.quantite }}</td>
        </tr>
        <tr>
            <th>Evaluation</th>
            <td>{{ offre.evaluation }}</td>
        </tr>
        <tr>
            <th>Typeoffre</th>
            <td>{{ offre.typeOffre }}</td>
        </tr>
        <tr>
            <th>Valide</th>
            <td>{% if offre.valide %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ asset(url_image ~ offre.image) }}" height="130px"/></td>
        </tr>
        {#<tr>asset
            <th>Remiseproduit</th>
            {% for remise in offre.remises %}
                <td>
                     <a href="{{ path('apm_vente_remise_show', { 'id': remise.id }) }}"> {{ remise.code }}</a>
                </td>
            {% endfor %}
        </tr>#}
        </tbody>
    </table>
    <ul>

        <li>
            <a href="{{ path('apm_vente_offre_index') }}">Liste mes offres</a>
        </li>
        {% if app.user == offre.vendeur or offre.boutique !=null and offre.boutique.gerant == app.user or offre.boutique !=null and offre.boutique.proprietaire ==app.user %}

            <li>
                <a href="{{ path('apm_vente_remise_offre_new', {'id': offre.id}) }}">Créer une remise sur
                    l'offre</a>
            </li>
            <li>
                <a href="{{ path('apm_vente_offre_edit', { 'id': offre.id }) }}">Modifier</a>
            </li>
            <li>
                <a href="{{ path('apm_vente_rabais_offre_new', { 'id': offre.id }) }}">Créer un rabais</a>
            </li>
            {% if offre.boutique %}
                <li>
                    <a href="{{ path('apm_vente_boutique_show', { 'id': offre.boutique.id }) }}">Afficher la
                        boutique</a>
                </li>
            {% endif %}
            {% if offre.categorie %}
                <li>
                    <a href="{{ path('apm_vente_categorie_show', { 'id': offre.categorie.id }) }}">Retour à la
                        catégorie</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('apm_vente_remise_offre_index', {'offre_id':offre.id}) }}">liste les remise sur
                    l'offre</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('apm_core_user-dashboard_index') }}"> Retour à l'accueil</a>
        </li>
        <li>
            <a href="{{ path('apm_achat_specification_achat_new', {'id':offre.id}) }}">passer une commande ou
                faire une spécification sur l'offre</a>
        </li>

        <li>
            <a href="{{ path('apm_achat_specification_achat_offre_index', {'id':offre.id}) }}">Lister les
                spécifications sur l'offre</a>
        </li>
        <li>
            <a href="{{ path('apm_user_commentaire_index', {'id':offre.id}) }}">Lister les
                commantaires sur l'offre</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {# </div>
 </div>#}
{% endblock %}