{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Message</h1>

    <table>
        <tbody>
        <tr>
            <th>Contenu</th>
            <td>{{ message.code }}</td>
        </tr>
        <tr>
            <th>Dateemission</th>
            <td>{% if message.dateEmission %}{{ message.dateEmission|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ message.contenu }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_message_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('apm_user_message_edit', { 'id': message.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('apm_user_message_new') }}">Add a new one</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
