{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Liste des transporteurs </h1>
    {% if zone %}Zone de couverture: <strong>{{ zone }}-{{ zone.adresse }}-{{ zone.zoneTime }}
        -{{ zone.pays }}</strong>{% endif %}
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Livreur Boutique?</th>
            <th>Matricule</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for profile_transporteur in profile_transporteurs %}
            <tr>
                <td>
                    {% if profile_transporteur.livreurBoutique %}
                        <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': profile_transporteur.livreurBoutique.id }) }}">{{ profile_transporteur.code }}</a>
                    {% else %}
                        <a href="{{ path('apm_transport_transporteur_show', { 'id': profile_transporteur.id }) }}">{{ profile_transporteur.code }}</a>
                    {% endif %}
                </td>
                <td>{% if profile_transporteur.livreurBoutique %}Yes{% else %}No{% endif %}</td>
                <td>{{ profile_transporteur.matricule }}</td>
                <td>
                    <ul>
                        <li>
                            {% if profile_transporteur.livreurBoutique %}
                                <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': profile_transporteur.livreurBoutique.id }) }}">afficher</a>
                            {% else %}
                                <a href="{{ path('apm_transport_transporteur_show', { 'id': profile_transporteur.id }) }}">afficher</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_transport_transporteur_new') }}">Créer un profile transporteur</a>
        </li>
        <li>
            <a href="{{ path('apm_zone_intervention_index') }}">Liste les zones d'interventions</a>
        </li>
    </ul>
{% endblock %}
