{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Profile du transporteur</h1>

    <table>
        <tbody>
        <tr>
            <th>Code</th>
            <td>{{ profile_transporteur.code }}</td>
        </tr>
        <tr>
            <th>Transporteur autonome</th>
            <td><b>YES</b></td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ profile_transporteur.matricule }}</td>
        </tr>
        <tr>
            <th>Prenom/pseudo de l'agent</th>
            <td>{{ profile_transporteur.utilisateur }}</td>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_zone_transporteur-zone_intervention_index',{'id': profile_transporteur.id }) }}">Liste
                les zones d'interventions du transporteur</a>
        </li>
        {% if app.user == profile_transporteur.utilisateur or profile_transporteur.livreurBoutique != null and app.user == profile_transporteur.livreurBoutique.transporteur.utilisateur %}
            <li>
                <a href="{{ path('apm_transport_transporteur_edit', { 'id': profile_transporteur.id }) }}">Modifier</a>
            </li>
            <li>
                <a href="{{ path('apm_transport_transporteur_new') }}">Supprimer</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
