{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Reseau des conseillers</h1>
    <p>
        Grand Master: {% if conseiller.masterConseiller %}<strong>{{ conseiller.masterConseiller }}</strong>{% else %}
        <i>vous n'avez aucun réseau !</i>{% endif %}<br/>
        {% if conseiller.masterConseiller %}Code: {{ conseiller.masterConseiller.code }}{% endif %}
    </p>
    {% set conseillerCourant = app.user.profileConseiller %}
    <table>
        <thead>
        <tr>
            <th>| Maître</th>
            <th>| Esclave de gauche </th>
            <th>| Esclave de droite </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>| {% if conseiller.masterConseiller %}
                    <a
                    href="{{ path('apm_marketing_conseiller_show', { 'id': conseiller.id }) }}">{{ conseiller }}</a>{% else %}-{% endif %}
                |
            </td>
            <td>| {% if conseiller.conseillerGauche %}<a
                    href="{{ path('apm_marketing_reseau_conseiller_index', {'id':conseiller.conseillerGauche.id}) }}">{{ conseiller.conseillerGauche }}</a>{% else %} - {% endif %}
                |
            </td>
            <td>| {% if conseiller.conseillerDroite %}<a
                    href="{{ path('apm_marketing_reseau_conseiller_index', {'id':conseiller.conseillerDroite.id}) }}">{{ conseiller.conseillerDroite }}</a>{% else %} - {% endif %}
                |
            </td>
        </tr>
        </tbody>
    </table>

    {% if conseillerCourant == conseiller and conseiller.masterConseiller %}
        <ul>
            <li>
                <a href="{{ path('apm_marketing_reseau_add', { 'id': conseiller.id }) }}">Ajouter/Modifier membre/fusionner deux réseaux</a>
            </li>
            {% if conseillerCourant == conseiller.masterConseiller.conseillerGauche or conseillerCourant == conseiller.masterConseiller.conseillerDroite %}
                <li>
                    <a href="{{ path('apm_marketing_reseau_add', { 'id': conseiller.masterConseiller.id }) }}">Quitter
                        le
                        réseau du maitre</a>
                </li>
            {% endif %}
        </ul>
    {% elseif conseiller.masterConseiller %}
        <ul>
            <li>
                <a href="{{ path('apm_marketing_reseau_promote', {'id':conseiller.id}) }}">Promotion d'un fils
                    en remplacement du conseiller absent</a>
            </li>
            <li>
                <a href="{{ path('apm_marketing_reseau_index') }}"> Restourner a mon reseau </a>
            </li>
        </ul>
    {% endif %}
    <a href="{{ path('apm_marketing_conseiller_show', { 'id': conseillerCourant.id }) }}"> voir mon profile de
        conseiller</a>
{% endblock %}
