{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>{% if app.user.profileConseiller == conseiller %} Ajouter un membre à votre réseau {% else %} Quitter le réseau du grand maître {{ conseiller }} {% endif %}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Valider"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('apm_marketing_reseau_index') }}"> Retourner à mon réseau </a>
        </li>
    </ul>
{% endblock %}
