{#{% extends "APMAdminBundle:_Main:layout.html.twig" %}#}
{% block body %}
    <h1>Maître conseiller : <a
                href="{{ path('apm_marketing_conseiller_show',{'id':conseiller.id}) }}">{{ conseiller }}</a></h1>

    <table>
        <tbody>
        <tr>
            <th>Code</th>
            <td>{{ conseiller.code }}</td>
        </tr>
        <tr>
            <th>Conseiller de droite :</th>
            <td>{{ conseiller.conseillerDroite }}</td>
        </tr>
        <tr>
            <th>Conseiller de gauche :</th>
            <td>{{ conseiller.conseillerGauche }}</td>
        </tr>

        </tbody>
    </table>

    {#{% if app.user.profileConseiller.isConseillerA2 %}#}
    <li>
        <a href="{{ path('apm_marketing_reseau_left_add', { 'id': conseiller.id }) }}">Ajouter/Modifier membre de
            gauche</a>
    </li>
    <li>
        <a href="{{ path('apm_marketing_reseau_right_add', { 'id': conseiller.id }) }}">Ajouter/Modifier membre de
            droite</a>
    </li>
    <li>
        <a href="{{ path('apm_marketing_reseau_left_promote', {'id':conseiller.id}) }}">Promotion de gauche</a>
    </li>
    <li>
        <a href="{{ path('apm_marketing_reseau_right_promote', {'id':conseiller.id}) }}">Promotion de droite</a>
    </li>
    <li>
        <a href="{{ path('apm_marketing_reseau_index') }}">Retour à reseau courant</a>
    </li>
    {#{% endif %}#}

{% endblock %}
