<!-- START HEADER CENTER -->
<div class="header-center">
    <div class="container">
        <div class="row">
            <!-- LOGO -->
            <div class="navbar-logo col-md-3 col-sm-3 col-xs-6">
                <a href="javascript:void(0);"><img src="{{ asset('Shop/image/catalog/new-store-logo-1487249703.jpg') }}" title="Your Store" alt="Your Store"></a>
            </div>
            <div class="header-center-right col-md-9 col-sm-9">
                <!-- BOX CONTENT MENU -->
                <div class="responsive megamenu-style-dev megamenu-dev pull-right">
                    <nav class="navbar-default">
                        <div class=" container-megamenu  horizontal">
                            <div class="navbar-header">
                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle	">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="megamenu-wrapper">
                                <span id="remove-megamenu" class="fa fa-times"></span>
                                <div class="megamenu-pattern">
                                    <div class="container">
                                        <ul class="megamenu" data-transition="slide" data-animationtime="300">
                                            <li class="full-width with-sub-menu hover">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>
                                                Home
                                                </strong>
                                                <b class="caret"></b>
                                                </a>
                                                <div class="sub-menu" style="width: 100%; display: none;">
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="html "></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="full-width with-sub-menu hover">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>
                                                Features
                                                </strong>
                                                <b class="caret"></b>
                                                </a>
                                                <div class="sub-menu" style="width: 800px; display: none;">
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="html "></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-style1 content-full with-sub-menu hover">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>Electronic
                                                </strong>
                                                <b class="caret"></b>
                                                </a>
                                                <div class="sub-menu" style="width: 100%; display: none;">
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="link "><img src="{{ asset('Shop/image/catalog/demo/menu/menu-img1.jpg') }}" alt="" style="width: 100%;"></div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="link "><img src="{{ asset('Shop/image/catalog/demo/menu/menu-img2.jpg') }}" alt="" style="width: 100%;"></div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="link "><img src="{{ asset('Shop/image/catalog/demo/menu/menu-img3.jpg') }}" alt="" style="width: 100%;"></div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="link "><img src="{{ asset('Shop/image/catalog/demo/menu/menu-img4.jpg') }}" alt="" style="width: 100%;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="border"></div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="categories "></div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="categories "></div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="categories sub3"></div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="categories "></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class=" item-style2 content-full feafute with-sub-menu hover">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>Accessories
                                                </strong>
                                                <b class="caret"></b>
                                                </a>
                                                <div class="sub-menu" style="width: 100%; display: none;">
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="categories "></div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <h4 class="title-feature">Featured Product</h4>
                                                                <div class="product best-sellers-menu">
                                                                    <div class="image"><a href="javascript:void(0);" onclick="window.location = '';"><img src="" alt=""></a></div>
                                                                    <h4 class="name"><a href="javascript:void(0);" onclick="window.location = '';"></a></h4>
                                                                    <div class="price"><span class="price-new"></span><span class="price-old"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="style-page with-sub-menu hover">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>
                                                Pages
                                                </strong>
                                                <b class="caret"></b>
                                                </a>
                                                <div class="sub-menu" style="width: 230px; display: none;">
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="html ">
                                                                    <ul class="row-list" style="font-size: 14px;">
                                                                        <li><a class="subcategory_item" href="javascript:void(0);">About US</a></li>
                                                                        <li><a class="subcategory_item" href="javascript:void(0);">Contact us</a></li>
                                                                        <li><a class="subcategory_item" href="javascript:void(0);">Warranty And Services</a></li>
                                                                        <li><a class="subcategory_item" href="javascript:void(0);">Support 24/7 Page</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>
                                                Blog
                                                </strong>
                                                </a>
                                            </li>
                                            <li class="hidden hot-home7">
                                                <p class="close-menu"></p>
                                                <a href="javascript:void(0);" class="clearfix">
                                                <strong>
                                                Hot Sale
                                                </strong>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER CENTER -->