<!-- START HEADER BOTTOM -->
<div class="hide-show-scroll">
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-inner">
                <div class="row">
                <!--    <div class=" hidden-sm hidden-xs hidden-md logo_fixed">
                        <img src="{{ asset('Shop/image/catalog/new-store-logo-1487249703.jpg')}}" title="Your Store" alt="Your Store">
                    </div>-->
                    <div class="header-bottom-left menu-vertical col-lg-3 col-md-3 col-sm-2 col-xs-2">
                        <div class="responsive megamenu-style-dev ">
                            <div class="cl-padding">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  vertical ">
                                        <div id="menuHeading" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                            <div class="megamenuToogle-wrapper hidden-sm hidden-xs">
                                                <div class="megamenuToogle-pattern font-ct">
                                                    <div class="container">
                                                        <span class="title-mega">All Departments</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navbar-header">
                                            <span class="title-navbar hidden-lg hidden-md">All Departments</span>
                                            <button type="button" id="show-verticalmenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <div class="vertical-wrapper" aria-labelledby="menuHeading">
                                            <span id="remove-verticalmenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container">
                                                    <ul class="megamenu" data-transition="slide" data-animationtime="300">
                                                        <li class="item-vertical style1 with-sub-menu hover">
                                                            <p class="close-menu"></p><a href="javascript:void();" class="clearfix">
                                                            <span><strong>
                                                                <i class="icon icon1"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-6.png')}}" alt="">Fashion
                                                            </strong></span>
                                                            <b class="fa fa-angle-right"></b>
                                                            </a><div class="sub-menu" style="width: 900px;"><div class="contenu"><div class="row"><div class="col-sm-8"></div><div class="col-sm-4"><a href="#"><img src="{{ asset('Shop/image/catalog/demo/menu/img-static-megamenu-h.png')}}" alt="banner"></a></div></div></div></div>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <i class="icon icon2"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-1.png')}}" alt="">Computer
                                                            </strong></span>
                                                            <span class="label"> </span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical style1 with-sub-menu hover">
                                                            <p class="close-menu"></p><a href="javascript:void();" class="clearfix">
                                                            <span><strong>
                                                                <i class="icon icon3"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-2.png')}}" alt="">Furniture
                                                            </strong></span>
                                                            <b class="fa fa-angle-right"></b>
                                                            </a><div class="sub-menu" style="width: 900px;"><div class="contenu"><div class="row"><div class="col-sm-8"></div><div class="col-sm-4"><a href="#"><img src="{{ asset('Shop/image/catalog/demo/menu/img-static-megamenu-h.png')}}" alt="banner"></a></div></div></div></div>
                                                        </li>
                                                        <li class="item-vertical style1 with-sub-menu hover">
                                                            <p class="close-menu"></p><a href="javascript:void();" class="clearfix">
                                                            <span><strong>
                                                                <i class="icon icon4"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-4.png')}}" alt="">Health & beauty
                                                            </strong></span>
                                                            <b class="fa fa-angle-right"></b>
                                                            </a><div class="sub-menu" style="width: 900px;"><div class="contenu"><div class="row"><div class="col-sm-8"></div><div class="col-sm-4"><a href="#"><img src="{{ asset('Shop/image/catalog/demo/menu/img-static-megamenu-h.png')}}" alt="banner"></a></div></div></div></div>
                                                        </li>
                                                        <li class="item-vertical style1 with-sub-menu hover">
                                                            <p class="close-menu"></p><a href="javascript:void();" class="clearfix">
                                                            <span><strong>
                                                                <i class="icon icon5"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-3.png')}}" alt="">Smartphone
                                                            </strong></span>
                                                            <b class="fa fa-angle-right"></b>
                                                            </a><div class="sub-menu" style="width: 900px;"><div class="contenu"><div class="row"><div class="col-sm-8"></div><div class="col-sm-4"><a href="#"><img src="{{ asset('Shop/image/catalog/demo/menu/img-static-megamenu-h.png')}}" alt="banner"></a></div></div></div></div>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <i class="icon icon6"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-5.png')}}" alt="">Sport Clothing
                                                            </strong></span>
                                                            <span class="label"> </span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <i class="icon icon7"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-7.png')}}" alt="">Watch &amp; Jewelry
                                                            </strong></span>
                                                            <span class="label"> </span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <i class="icon icon8"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-8.png')}}" alt="">Kitchen
                                                            </strong></span>
                                                            <span class="label"> </span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <i class="icon icon9"></i><img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-9.png')}}" alt="">Accessories
                                                            </strong></span>
                                                            <span class="label"> </span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical" style="display: none;">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-6.png')}}" alt="">Women Fashion
                                                            </strong></span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical" style="display: none;">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-7.png')}}" alt="">Jewelry &amp; Watches
                                                            </strong></span>
                                                            </a>
                                                        </li>
                                                        <li class="item-vertical" style="display: none;">
                                                            <p class="close-menu"></p>
                                                            <a href="javascript:void(0);" class="clearfix">
                                                            <span><strong>
                                                            <img src="{{ asset('Shop/image/catalog/demo/menu/icon/icon-9.png')}}" alt="">Battereries &amp; Chargers
                                                            </strong></span>
                                                            </a>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                var itemver =  9 ;
                                if(itemver <= $( ".vertical ul.megamenu >li" ).length)
                                    $('.vertical ul.megamenu').append('<li class="loadmore"><i class="fa fa-plus"></i><span class="more-view"> More Categories</span></li>');
                                $('.horizontal ul.megamenu li.loadmore').remove();
                                var show_itemver = itemver-1 ;
                                $('ul.megamenu > li.item-vertical').each(function(i){
                                    if(i>show_itemver){
                                            $(this).css('display', 'none');
                                    } 
                                });
                                $(".megamenu .loadmore").click(function(){
                                    if($(this).hasClass('open')){
                                        $('ul.megamenu li.item-vertical').each(function(i){
                                                if(i>show_itemver){
                                                        $(this).slideUp(200);
                                                        $(this).css('display', 'none');
                                                }
                                        });
                                        $(this).removeClass('open');
                                        $('.loadmore').html('<i class="fa fa-plus"></i><span class="more-view">More Categories</span>');
                                    }else{
                                        $('ul.megamenu li.item-vertical').each(function(i){
                                                if(i>show_itemver){
                                                        $(this).slideDown(200);
                                                }
                                        });
                                        $(this).addClass('open');
                                        $('.loadmore').html('<i class="fa fa-minus"></i><span class="more-view">Close Categories</span>');
                                    }
                                });
                            });
                        </script>
                    </div>
                    <div class="header_search col-lg-6 col-md-6 col-sm-6 col-xs-10">
                        <button id="dropdownSearch" class="dropdown-toggle bt-search hidden" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-search" aria-hidden="true"></i>   </button>
                        <div class="dropdown-menu dropdown-menu-search" aria-labelledby="dropdownSearch">
                            <div id="sosearchpro" class="sosearchpro-wrapper so-search search-pro so-search">
                                <form method="POST" action="{{path('easy_t_products_search')}}">
                                    <div id="search0" class="search input-group">
                                        <div class="select_category filter_type  icon-select">
                                            <select class="no-border" name="category_id">
                                                <option value="0">All Categories</option>
                                                <option value="20">Desktops</option>
                                                <option value="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PC</option>
                                                <option value="27">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mac</option>
                                                <option value="18">Laptops &amp; Notebooks</option>
                                                <option value="46">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Macs</option>
                                                <option value="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Windows</option>
                                                <option value="25">Components</option>
                                                <option value="29">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mice and Trackballs</option>
                                                <option value="28">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Monitors</option>
                                                <option value="35">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 1</option>
                                                <option value="36">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 2</option>
                                                <option value="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Printers</option>
                                                <option value="31">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scanners</option>
                                                <option value="32">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web Cameras</option>
                                                <option value="57">Tablets</option>
                                                <option value="17">Software</option>
                                                <option value="24">Phones &amp; PDAs</option>
                                                <option value="33">Cameras</option>
                                                <option value="34">MP3 Players</option>
                                                <option value="53">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 21</option>
                                                <option value="54">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 22</option>
                                                <option value="55">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 23</option>
                                                <option value="56">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 24</option>
                                                <option value="38">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 4</option>
                                                <option value="37">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 5</option>
                                                <option value="39">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 6</option>
                                                <option value="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 7</option>
                                                <option value="41">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 8</option>
                                                <option value="42">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;test 9</option>
                                            </select>
                                        </div>
                                        <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Search" name="search">  
                                        <ul class="dropdown-menu"></ul>
                                        <span class="input-group-btn">
                                        <button type="submit" class="button-search btn btn-default btn-lg" name="submit_search"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="header-right col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right">
                    
                        {% include "::base/shop/header/cart.html.twig" %}
                 
                        <div class="header_custom_link">
                            <ul>
                                <li>
                                    <button type="button" id="show-megamenuHide">
                                    menu
                                    </button>
                                </li>
                                <li class="wishlist"><a href="javascript:void(0);" class="top-link-wishlist" title="Wish List (0)"></a></li>

                                <li class="compare"><a href="{{ path('easy_t_products_compare')}}" id="compare-total" class="top-link-compare" title="Compare"></a> <span class="counter-notif-comp">  </span> </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER BOTTOM -->