{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Piece_jointe list</h1>

    <table>
        <thead>
        <tr>
            <th>Extension</th>
            <th>Lien</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for piece_jointe in piece_jointes %}
            <tr>
                <td>
                    <a href="{{ path('apm_user_piece-jointe_show', { 'id': piece_jointe.id }) }}">{{ piece_jointe.code }}</a>
                </td>
                <td>{{ piece_jointe.lien }}</td>
                <td>{{ piece_jointe.extension }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_piece-jointe_show', { 'id': piece_jointe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_piece-jointe_edit', { 'id': piece_jointe.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_piece-jointe_deleteFromList', { 'id': piece_jointe.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_piece-jointe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
