<div class="bestProdPart">
                  <div class="best-head" style="background: url('{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/barre3.png')}}') !important;    background-size: 106% 100% !important; ">Rang des produits</div>
                  <br>
                  <div class="search">
                     <i class="fa fa-search icon-left"></i>
                     <i class="thin-icon-thumb-up icon-right"></i>
                     <input type="text" name="" placeholder="Rechercher...">
                  </div>
                  <div class=" bestprod" style="position: relative">
                     <div class="best-content" style="height: 100%">
                        <div class=" row item-best">
                           <div class="col-sm-3">
                              <img class="" src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/canon_eos_5d_1.jpg')}}">
                           </div>
                           <div class="col-sm-6">
                              <div class="title-pod">Appareil Canon</div>
                              <div class="content-pod">
                                 <a href="">Bintoubim</a>
                                 <font color="red"><b style="font-size: 15px">2000</b></font><i>cfa</i><br>
                                 <i class=" fa fa-heart">25</i><i class=" fa fa-share-square-o">125</i><i class=" fa fa-ban">15</i>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <button class="btn btn-md btn-primary">&gt;</button>
                              <br>
                           </div>
                           </div>
                           <hr class="style">
                        <div class=" row item-best">
                           <div class="col-sm-3">
                              <img class="" src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/hitel/images/phone.jpg')}}">
                           </div>
                           <div class="col-sm-6">
                              <div class="title-pod">Chaussure de noel</div>
                              <div class="content-pod">
                                 <a href="">Bintoubim</a>
                                 <font color="red"><b style="font-size: 15px">2000</b></font><i>cfa</i><br>
                                 <i class=" fa fa-heart">25</i><i class=" fa fa-share-square-o">125</i><i class=" fa fa-ban">15</i>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <button class="btn btn-md btn-primary">&gt;</button>
                              <br>
                           </div>
                        </div>
                        <hr class="style">
                        <div class=" row item-best">
                           <div class="col-sm-3">
                              <img class="" src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/hp_1.jpg')}}">
                           </div>
                           <div class="col-sm-6">
                              <div class="title-pod">Ordinateur</div>
                              <div class="content-pod">
                                 <a href="">Bintoubim</a>
                                 <font color="red"><b style="font-size: 15px">2000</b></font><i>cfa</i><br>
                                 <i class=" fa fa-heart">25</i><i class=" fa fa-share-square-o">125</i><i class=" fa fa-ban">15</i>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <button class="btn btn-md btn-primary">&gt;</button>
                              <br>
                           </div>
                        </div>
                        <hr class="style">
                        <div class=" row item-best">
                           <div class="col-sm-3">
                              <img class="" src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/ipod_classic_3.jpg')}}">
                           </div>
                           <div class="col-sm-6">
                              <div class="title-pod">Chaussure de noel</div>
                              <div class="content-pod">
                                 <a href="">Bintoubim</a>
                                 <font color="red"><b style="font-size: 15px">2000</b></font><i>cfa</i><br>
                                 <i class=" fa fa-heart">25</i><i class=" fa fa-share-square-o">125</i><i class=" fa fa-ban">15</i>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <button class="btn btn-md btn-primary">&gt;</button>
                              <br>
                           </div>
                        </div>
                        <hr class="style">
                        <div class=" row item-best">
                           <div class="col-sm-3">
                              <img class="" src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/hitel/images/chaussures.png')}}">
                           </div>
                           <div class="col-sm-6">
                              <div class="title-pod">Chaussure de noel</div>
                              <div class="content-pod">
                                 <a href="">Bintoubim</a>
                                 <font color="red"><b style="font-size: 15px">2000</b></font><i>cfa</i><br>
                                 <i class=" fa fa-heart">25</i><i class=" fa fa-share-square-o">125</i><i class=" fa fa-ban">15</i>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <button class="btn btn-md btn-primary">&gt;</button>
                              <br>
                           </div>
                        </div>
                        <hr class="style">
                        <div class=" row item-best">
                           <div class="col-sm-3">
                              <img class="" src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/hitel/images/montre.png')}}">
                           </div>
                           <div class="col-sm-6">
                              <div class="title-pod">Chaussure de noel</div>
                              <div class="content-pod">
                                 <a href="">Bintoubim</a>
                                 <font color="red"><b style="font-size: 15px">2000</b></font><i>cfa</i><br>
                                 <i class=" fa fa-heart">25</i><i class=" fa fa-share-square-o">125</i><i class=" fa fa-ban">15</i>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <button class="btn btn-md btn-primary">&gt;</button>
                              <br>
                           </div>
                        </div>
                        <hr>
                        <center><b><a href="">Voir tout...</a></b></center>
                     </div>
                  </div>
               </div>