<div class="container">
         <div class=" ">
            <div id="tm_manufacturers_block" class="clearfix" style="margin-top: 0px">
               <h4>Les partenaires</h4>
               <div class="" style="max-width: 1690px; margin: 0px auto;height: 70px">
                  <ul class="partenaire-part bxslider" style="width: 100%;overflow: hidden;position: relative;height: 70px;background: none">
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/2-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/3-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/4-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/5-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/6-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/7-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/8-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/9-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/10-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/2-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/3-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/4-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/5-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/6-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/7-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/8-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/9-manufacturers_default.jpg')}}" /></li>
                     <li><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/10-manufacturers_default.jpg')}}" /></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>