

<div class="col-sm-12">
    <div class="row" id="result-produit">
        <center><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/hitel/images/loading.gif') }}"></center>
    </div>
</div>
<div id="modal_produits"  class="modal_items">
    <div class="col-sm-12">
        <div class="col-sm-6 content-modal-transport">
            <button class="closed"  onclick="$('#modal_produits').hide()">x</button>
            <div class="col-sm-12" id="conten-produits-modal">
                <div class="content" style="width: 30%;height: 300%;margin-left: 32%;margin-top: 0%">
                    <center><img src="{{app.request.getSchemeAndHttpHost() ~ asset('plateform/img/loading.gif')}}" width="40%"></center>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(
            function () {

                var DATA_FULL;

                var DATA = DATA_FULL;
                var LIMIT_DATA = 16, LEVEL_DATA = 0, SOMME_MAX = 0, Y_MAX = 0, M_MAX = 0, S_MAX = 0;
                {% if filter is defined %} LIMIT_DATA = 8{% endif %};
                var N_PROD;
                var REGION = [];
                var id_block = "#list_produits";
                var contenu = $("#result-produit");
                var modal_form = $('#modal_produits');
                var modal_form_content = $("#conten-produits-modal");
                var pagination_prod = $(id_block + " ul.pagination");
                var lign_parging = $(id_block + " ul.pagination li");
                var but_details = $(id_block + " .search-elt button");
                var but_search = $(id_block + " input[name=search_query]");
                var select_cat = $(id_block + " select[name=search_categories]");

                /*
                 * 
                 * THE GENERIC SCRIPT OF FILTRING DATA
                 * 
                 */

                function initPaging() {
                    N_PROD = Math.ceil(DATA.length / LIMIT_DATA);
                    pagination_prod.html("");
                    var data, i;
                    for (i = 1; i <= N_PROD; i++) {
                        if (i == 1)
                            data = "<li class='paginate_button active'>" +
                                    "<a data-dt-idx='" + i + "' tabindex='" + i + "'>" + i + "</a>" +
                                    "</li>";
                        else
                            data = "<li class='paginate_button'>" +
                                    "<a  data-dt-idx='" + i + "' tabindex='" + i + "'>" + i + "</a>" +
                                    "</li>";
                        pagination_prod.append(data);
                    }
                    data = "<li class='paginate_button  previous disabled'>" +
                            "<a data-dt-idx='-1' tabindex='" + i + "'>Prec</a>" +
                            "</li>";
                    pagination_prod.prepend(data);
                    data = "<li class='paginate_button next disabled'>" +
                            "<a data-dt-idx='-2' tabindex='" + i + "'>Suiv</a>" +
                            "</li>";
                    pagination_prod.append(data);
                    $(id_block + " ul.pagination li").click(function () {
                        makePagingClick(this);
                    });
                    $(id_block + " .search-elt button").click(function () {
                        afficherModal(this);
                    });
                }
                function makePagingClick(_this) {
                    var index = $("a", _this).attr("data-dt-idx");
                    if ($(_this).hasClass("disabled"))
                        return;
                    $(id_block + " ul.pagination li.active").removeClass("active");
                    $(_this).addClass("active");
                    LEVEL_DATA = index;
                    afficherContenu();
                }
                function afficherContenu() {
                    console.log("contenu du contenu de transport " + DATA.length);
                    contenu.html("");
                    DATA.forEach(
                            function (item, index) {
                                LEVEL_DATA = (LEVEL_DATA < 1) ? 1 : LEVEL_DATA;
                                var min = (LEVEL_DATA - 1) * LIMIT_DATA;
                                var max = min + LIMIT_DATA;
                                if (index >= min && index < max) {
                                    var parent = makeItemNode(item, index);
                                    console.log("print products between " + min + " and " + max + " " + index);
                                    contenu.append(parent);
                                }
                            }
                    );

                    but_details.click(function () {
                        afficherModal(this);
                    });
                }
                function searchSubString(_this) {
                    var str = $(_this).val();
                    alert(str);
                    if (str.length == 0) {
                        DATA = DATA_FULL;
                    } else {
                        DATA = [];
                        DATA_FULL.forEach(
                                function (item, index) {
                                    if (node_sub_string_search(item, str, index)) {
                                        DATA.push(item);
                                    }
                                }
                        );
                    }
                    initPaging();
                    afficherContenu();
                }
                function afficherModal(_this) {
                    var data = $(_this).attr("data").split(",");
                    var code = data[0], prix = data[1], nom = data[2], logo = data[3];
                    var Content_modal = "<div class='col-sm-8'>" +
                            "<h3 style='font-size: 100%;'>" + nom + " <b>#" + code + "</b></h3>" +
                            "<table>" +
                            "<tr>" +
                            "<td><b>Entreprise :</b> </td>" +
                            "<td><a href='#' data-modal='entreprise'>" + nom + "</a></td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td><b>Prix :</b> </td>" +
                            "<td><a data-modal='poids'>" + prix + "</a> cfa</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td><b>Categories :</b></td>" +
                            "<td data-modal='Vehicule'><span class='location' title='Vetements Feminins'>Vetements</span><span class='location' title='Electroniques'>Electronique</span><span class='location' title='Investissement'>Sport</span></td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td><b>Payement : </b></td>" +
                            "<td><img src='{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/payment/payment.png')}}' class='search-elt-img' style=' width: 100%;'></td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>Notation :</td>" +
                            "<td><i class=' fa fa-heart'>25</i><i class=' fa fa-share-square-o'>125</i><i class=' fa fa-ban'>15</i></td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td><button class='btn btn-secondary-2'>Contacter</button></td>" +
                            "<td><button class='btn btn-secondary-2'>Ajouter aux Favoris</button></td>" +
                            "</tr>" +
                            "</table>" +
                            "</div>" +
                            "<div class='col-sm-4'>" +
                            "<img src='" + logo + "' class='modal-elt-img'>" +
                            "<hr>" +
                            "<center>" +
                            "<button class='btn btn-secondary-2' onclick='add_to_card(this);' data='" + code + "," + prix + "," + nom + "," + logo + "'>Ajouter</button>" +
                            "</center>" +
                            "<div class='col-sm-12 description' style='text-align: justify;'>D'une premiere vue mon activite se refere a un simple transport de produits ... <a href=''>ma page</a></div>" +
                            "</div>";
                    modal_form_content.html(Content_modal);
                    modal_form.show();
                }
                /*
                 * 
                 * THE SPECIFIC SCRIPT OF FILTRING DATA
                 * 
                 */

                function makeItemNode(item, index) {
                    var ajout = "", type = "";
                    if (item.new)
                        ajout = "<img src='{{ app.request.getSchemeAndHttpHost() ~ asset('plateform/img/barre_new.png')}}' class='col_item_img'>";
                    else if (item.solde)
                        ajout = "<img src='{{ app.request.getSchemeAndHttpHost() ~ asset('plateform/img/barre_solde.png')}}' class='col_item_img'>";

                    if (item.type == 1)
                        type = "<img src='{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/colors/bleu.png')}}' class='col_item_img col_item_img_tag'>";
                    else if (item.type == 2)
                        type = "<img src='{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/colors/green.png')}}' class='col_item_img col_item_img_tag'>";
                    else if (item.type == 3)
                        type = "<img src='{{app.request.getSchemeAndHttpHost() ~ asset('plateform/demo/colors/red.png')}}' class='col_item_img col_item_img_tag'>";
                    var parent = "<div class='col-sm-3 search-elt  col_item'>" +
                            ajout +
                            type +
                            "<b><h4>" + item.nom + "</h4></b>" +
                            "<img src='" + item.face + "' class='search-elt-img'>" +
                            "<div class='search-desc'>" +
                            "<div class='col-sm-12'>" +
                            "<div class='col-sm-8' style='margin: 0;padding: 0;'>" +
                            "<b>" + item.nom + "</b>" +
                            "</div>" +
                            "<div class='col-sm-4' style='padding: 0;position: absolute;top: -9px;right: -5px;'>" +
                            "<img src='" + item.proil + "' class='search-elt-img' style='margin-top: 50%;'>" +
                            "</div>" +
                            "</div>" +
                            "<div>" +
                            "<div style='margin-left: 15px;margin-top: 30px;' class='Details'>" +
                            "<table class='tab-int-detail'><tr>" +
                            "<td>Code</td>" +
                            "<td><b>#" + item.code + "</></td>" +
                            "</tr><tr>" +
                            "<td>Price</td>" +
                            "<td><b>" + item.price + " FCFA</></td>" +
                            "</tr><tr>" +
                            "<td>Cat (" + item.categorie.length + ") </td>" +
                            "<td><b>" + item.categorie[0].nom + "</></td>" +
                            "</tr><tr>" +
                            "<td colspan='2'><i class=' fa fa-heart'>" + item.like + "</i><i class=' fa fa-share-square-o'>" + item.share + "</i><i class=' fa fa-ban'>" + item.sell + "</i> </td>" +
                            "</tr></table>" +
                            "</div>" +
                            "</div>" +
                            "<button class='btn btn-secondary-2 detail-prod' data=\"" + item.code + "," + item.price + "," + item.nom + "," + item.face + "\">Profil</button></center>" +
                            "</div>" +
                            "</div>";
                    return parent;
                }
                function node_sub_string_search(item, str, index) {
                    var str2 = str.toLowerCase();
                    console.log(item.nom.toLowerCase() + " -- " + item.nom.toLowerCase().search(str2) + " -- " + str2 + " == " + index);
                    if (item.nom.toLowerCase().search(str2) >= 0)
                        return true;
                    if (item.code.toLowerCase().search(str2) >= 0)
                        return true;
                    for (var i = 0; i < item.categorie.length; i++) {
                        if (item.categorie[i].nom.toLowerCase().search(str2) >= 0)
                            return true;
                    }
                    return false;
                }
                function initFilterPrice() {
                    DATA.forEach(
                            function (item, index) {
    {#if (index >= LIMIT_DATA * LEVEL_DATA && index < LIMIT_DATA * (LEVEL_DATA + 1))
        var parent = makeItemNode(item, index)
    contenu.append(parent);#}
                                    if (item.price > SOMME_MAX)
                                        SOMME_MAX = item.price;
                                }
                        );
                        select_cat.html("");
                        var n_ = Math.ceil(SOMME_MAX / 4);
                        for (var i = 1; i <= 4; i++)
                            select_cat.append("<option value='" + n_ * i + "'> Inferieur a " + n_ * i + "</option>");
                        select_cat.prepend("<option value='' selected='selected'> Tous les prix </option>");
                    }
                function selectFilterPriceItem(_this) {
                        var str = $(_this).val();
                        var evol = 0;
                        alert(str);
                        contenu.html("");
                        if (str.length == 0) {
                            DATA = DATA_FULL;
                            afficherContenu();
                            return;
                        }
                        str = parseInt(str);
                        DATA.forEach(
                                function (item, index) {
                                    if (evol < LIMIT_DATA) {
                                        if (item.price <= str || str == 0) {
                                            var parent = makeItemNode(item, index)
                                            contenu.append(parent);
                                            evol++;
                                        }
                                    }
                                }
                        );
                    }



                    /*
                     * 
                     * PART OF SUP FILTER FIELDS
                     * 
                     */

                    var VILLE = [];
                    var PAYS = [];
                    var CONTINENT = [];
                    var select_ville = $(id_block + " select[name=search_ville]");
                    var select_pays = $(id_block + " select[name=search_pays]");
                    var select_continent = $(id_block + " select[name=search_continent]");

                    function initFilterVille() {
                        VILLE = [];
                        DATA.forEach(
                                function (item, index) {
                                    item.zone.forEach(
                                            function (zone, loc) {
                                                if (VILLE.indexOf(zone.nom) == -1)
                                                    VILLE.push(zone.nom);
                                            }
                                    );
                                }
                        );
                        select_ville.html("");
                        for (var i = 0; i < VILLE.length; i++)
                            select_ville.append("<option value='" + VILLE[i] + "'>Transporteurs dans la ville de  ----" + VILLE[i] + "</option>");
                        select_ville.prepend("<option value='' selected='selected'> toutes les villes </option>");
                    }
                    function selectFilterVille(_this) {
                        var str = $(_this).val();
                        var evol = 0;
                        contenu.html("");
                        DATA.forEach(
                                function (item, index) {
                                    if (evol < LIMIT_DATA) {
                                        item.zone.forEach(
                                                function (zone, loc) {
                                                    if (zone.nom.search(str) >= 0) {
                                                        console.log(zone.nom + " -- " + str + "  --  " + zone.nom.search(str));
                                                        var parent = makeItemNode(item, index)
                                                        contenu.append(parent);
                                                        evol++;
                                                    }
                                                }
                                        );
                                    }
                                }
                        );
                    }
                    
                    $.ajax({
                        url :"{{path('evm_produit_all_get')}}",
                        data:{},
                        dataType:"json",
                        success: function(data, status){
                            data.forEach(function(item,index){item.face=LINK_FILE_ASSERT+item.face;});
                            DATA_FULL = data;
                            DATA = DATA_FULL;
                            N_PROD = Math.ceil(DATA.length / LIMIT_DATA);
                            initPaging();
                            but_search.change(function () {
                                searchSubString(this);
                            });
                            but_details.click(function () {
                                afficherModal(this);
                            });
                            afficherContenu();

                            $(id_block + " .search-elt button.detail-prod").click(function () {
                                afficherModal(this);
                            });
                            initFilterPrice();
                            select_cat.change(function () {
                                    selectFilterPriceItem(this);
                                });
                        }
                    });
                    
                }
        );
</script>