{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}

    <h1>Remises sur les offres</h1>
    <table>
        <tbody>
        {% for offre_remise in offre_remises %}
            {% for ristourne in offre_remise.remises %}
            <tr>
                <td><a href="{{ path('apm_vente_remise_show', { 'id': ristourne.id }) }}">{{ ristourne.code }}</a></td>
                <td>
                    <a href="{{ path('apm_vente_offre_show', { 'id': offre_remise.offre.id }) }}"><strong>{{ offre_remise.offre }}</strong></a>
                </td>
                <td>{% if ristourne.dateExpiration %}{{ ristourne.dateExpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_vente_remise_show', { 'id': ristourne.id }) }}">détail</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_remise_edit', { 'id': ristourne.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_remise_deleteFromList', { 'id': ristourne.id }) }}">supprimer</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if boutique %}
            <li>
                <a href="{{ path('apm_vente_boutique_show', {'id': boutique.id}) }}">Retour à la boutique</a>
            </li>
            <li>
                <a href="{{ path('apm_vente_offre_index',{'id':boutique.id}) }}">Liste les offre de la boutique</a>
            </li>
        {% endif %}
        {% if offre %}
            <li>
                <a href="{{ path('apm_vente_offre_show', {'id': offre.id}) }}">Détail sur l'offre</a>
            </li>
            <li>
                <a href="{{ path('apm_vente_offre_index') }}">Liste mes offres</a>
            </li>
        {% endif %}

    </ul>
{% endblock %}
