{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Liste des Commissionnements</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Boutique offrante</th>
            <th>Libellé</th>
            <th>Conseiller Bénéficiaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for boutique_commissionnements in boutiques_commissionnements %}
            {% for commissionnement in boutique_commissionnements.commissionnements %}
                <tr>
                    <td>
                        <a href="{{ path('apm_marketing_commissionnement_show', { 'id': commissionnement.id }) }}">{{ commissionnement.code }}</a>
                    </td>
                    <td>
                        <a href="{{ path('apm_vente_boutique_show', { 'id':boutique_commissionnements.boutique.id }) }}">{{ boutique_commissionnements.boutique }}</a>
                    </td>
                    <td>{{ commissionnement.libelle }}</td>
                    <td>
                        <a href="{{ path('apm_marketing_conseiller_show', { 'id': boutique_commissionnements.conseiller.id }) }}">{{ boutique_commissionnements.conseiller }}</a>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('apm_marketing_commissionnement_show', { 'id': commissionnement.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('apm_marketing_commissionnement_edit', { 'id': commissionnement.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('apm_marketing_commissionnement_deleteFromList', { 'id': commissionnement.id }) }}">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
