{#{% extends "APMAdminBundle:_Main:layout.html.twig" %}#}
{% block body %}
    <h1>Liste des Conseillers</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Matricule</th>
            <th>Conseiller A2 ?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for conseiller in conseillers %}
            <tr>
                <td>
                    <a href="{{ path('apm_marketing_conseiller_show', { 'id': conseiller.id }) }}">{{ conseiller.code }}</a>
                </td>
                <td>{{ conseiller.matricule }}</td>
                <td>{% if conseiller.conseillerA2 %}Yes{% else %}No{% endif %}</td>
                <td>{{ conseiller.valeurQuota }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_marketing_conseiller_show', { 'id': conseiller.id }) }}">afficher</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.profileConseiller != null %}
        <li>
            <a href="{{ path('apm_marketing_conseiller_show', {'id':app.user.profileConseiller.id}) }}">Afficher mon
                profile conseiller</a>
        </li>
    {% elseif app.user.isConseillerA1 %}
        <ul>
            <li>
                <a href="{{ path('apm_marketing_conseiller_new') }}">Créer votre profile conseiller</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
