{#{% extends "APMAdminBundle:_Main:layout.html.twig" %}#}

{% block body %}

    <h1>Conseiller</h1>

    <table>
        <tbody>
        <tr>
            <th>Date d'enregistrement</th>
            <td>{% if conseiller.dateEnregistrement %}{{ conseiller.dateEnregistrement|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ conseiller.code }}</td>
        </tr>
        <tr>
            <th>Conseiller A2?</th>
            <td>{% if conseiller.conseillerA2 %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ conseiller.matricule }}</td>
        </tr>
        <tr>
            <th>Agent:</th>
            <td>{{ conseiller.utilisateur }}</td>
        </tr>
        <tr>
            <th>Valeur quota</th>
            <td>{{ conseiller.valeurQuota }}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ conseiller.description }}</td>
        </tr>
        </tbody>
    </table>

    <ul>

    <li>
        <a href="{{ path('apm_marketing_reseau_conseiller_index',{'id': conseiller.id }) }}"> affiche le réseau du
            conseiller</a>
    </li>
    <li>
        <a href="{{ path('apm_marketing_conseiller_index') }}">Retour à la liste des conseillers</a>
    </li>
    {% if app.user == conseiller.utilisateur %}
        <li>
            <a href="{{ path('apm_marketing_conseiller_edit', { 'id': conseiller.id }) }}">Modifier</a>
        </li>
        {% if app.user.profileConseiller.isConseillerA2 %}
            <li>
                <a href="{{ path('apm_marketing_reseau_show', { 'id': conseiller.id }) }}">modifier mon réseau de
                    conseiller</a>
            </li>
        {% endif %}

        {% if  not app.user.profileConseiller %}
            <li>
                <a href="{{ path('apm_marketing_conseiller_new') }}">Créer mon profile conseiller</a>
            </li>
        {% endif %}

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        </ul>
    {% endif %}
{% endblock %}
