{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Transaction</h1>

    <table>
        <tbody>

        <tr>
            <th>Code</th>
            <td>{{ transaction.code }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{% if transaction.date %}{{ transaction.date|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        {% if transaction.boutique %}
            <tr>
                <th>Boutique</th>
                <td>{{ transaction.boutique }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Auteur</th>
            <td>{{ transaction.auteur }}</td>
        </tr>

        <tr>
            <th>Bénéficiaire</th>
            <td>{{ transaction.beneficiaire }}</td>
        </tr>

        <tr>
            <th>Montant</th>
            <td>{{ transaction.montant }}</td>
        </tr>
        <tr>
            <th>Nature</th>
            <td>{{ transaction.nature }}</td>
        </tr>

        <tr>
            <th>Statut</th>
            <td>{{ transaction.statut }}</td>
        </tr>

        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('apm_vente_transaction_index') }}">Retour à la liste de mes transactions</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_transaction_produit_liste_index',{'id':transaction.id}) }}">Liste les offres de
                cette transaction produits</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_transaction_produit_new', {'id': transaction.id}) }}">Ajouter une
                offre à cette transaction</a>
        </li>

        {% if transaction.auteur == app.user %}

            <li>
                <a href="{{ path('apm_vente_transaction_edit', { 'id': transaction.id }) }}">Modifier</a>
            </li>
            <li>
                <a href="{{ path('apm_vente_transaction_new') }}">Créer une nouvelle transaction</a>
            </li>

            {% if transaction.boutique %}
                <li>
                    <a href="{{ path('apm_transport_livraison_operation_boutique',{'id':transaction.boutique.id, 'transaction_id':transaction.id, }) }}">Livrer
                        cette transaction de la boutique</a>
                </li>
                <li>
                    <a href="{{ path('apm_vente_transaction_boutique_index',{'id':transaction.boutique.id}) }}">Liste
                        les
                        transactions de cette boutique</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('apm_transport_livraison_operation',{'transaction_id':transaction.id }) }}">Livrer
                        cette transaction</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
