{% extends ":base/dashboard:layout.html.twig" %}

{% block content_body %}
    <h1>Groupe_relationnel edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Update"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('apm_user_groupe-relationnel_index') }}">Retour à la liste des groupes</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content_body %}
