{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Groupe_relationnel list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for groupe_relationnel in groupe_relationnels %}
            <tr>
                <td>
                    <a href="{{ path('apm_user_groupe-relationnel_show', { 'id': groupe_relationnel.id }) }}">{{ groupe_relationnel.code }}</a>
                </td>
                <td>{{ groupe_relationnel.designation }}</td>
                <td>{{ groupe_relationnel.type }}</td>
                <td>{{ groupe_relationnel.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_groupe-relationnel_show', { 'id': groupe_relationnel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_groupe-relationnel_edit', { 'id': groupe_relationnel.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_groupe-relationnel_edit', { 'id': groupe_relationnel.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_groupe-relationnel_deleteFromList', { 'id': groupe_relationnel.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_groupe-relationnel_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
