{% extends "@FOSUser/Security/login-extend.html.twig" %}

{%- block title -%} {{ parent() }}| new account {%- endblock title -%}

{% block body_container  %}

    {% block header_content %}
        <nav class="navbar-fixed-top footer-navbar">
            Welcome to the subscribes' form! please, follow the steps to create your AVM account.
            <button autofocus class="btn btn-default mt-ladda-btn ladda-button hidden"
                    data-style="zoom-in" data-spinner-color="#333" tabindex="-1" id="ct-sp">
                <span class="ladda-label">traitement...</span>
            </button>
        </nav>
    {% endblock header_content %}

    <div class="portlet light bordered" id="form_wizard" style="margin-top: 30px">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-red"></i>
                <span class="caption-subject font-red bold uppercase">
                    <span class="step-title"> Step 1 of 4 </span>
                </span>
            </div>
        </div>

        <div class="portlet-body form">
            {% trans_default_domain 'FOSUserBundle' %}
            {{ form_start(form, {'attr':{'class':'submit_form form-horizontal'}}) }}
            <div class="form-wizard">
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li>
                            <a href="#tab1" data-toggle="tab" class="step">
                                <span class="number"> 1 </span>
                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Account Setup </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="step">
                                <span class="number"> 2 </span>
                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Profile Setup </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab" class="step active">
                                <span class="number"> 3 </span>
                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Billing Setup </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab4" data-toggle="tab" class="step">
                                <span class="number"> 4 </span>
                                <span class="desc">
                                                                    <i class="fa fa-check"></i> Confirm </span>
                            </a>
                        </li>
                    </ul>
                    <div id="bar" class="progress progress-striped" role="progressbar">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <div class="tab-content">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button>
                            Your form validation is successful!
                        </div>
                        <div class="tab-pane active" id="tab1">
                            <h3 class="block">Provide your account details</h3>
                            <div class="form-group">
                                <label class="control-label col-md-3">Username
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.username,  {'attr':{'class':'form-error'}}) }}
                                    {{ form_widget(form.username, {'attr':{'class':'form-control un'}}) }}
                                    <span class="help-block"> Provide your name </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Password
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.plainPassword.first, {'attr':{'class':'form-error'}}) }}
                                    {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control submit_form_password'}}) }}
                                    <span class="help-block"> Provide your password </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Confirmation Password
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> Confirm your password </span>
                                    <span class="help-block help-block-error"> your password must contain at least 5 caractares and ..numbers </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> provide your email </span>
                                    <span class="help-block help-block-error"> your email must be a type of the avm.com domain </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <h3 class="block">Provide your profile details</h3>
                            <div class="form-group">
                                <label class="control-label col-md-3">Last name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.nom) }}
                                    {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> Provide your last name </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">First name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.prenom) }}
                                    {{ form_widget(form.prenom, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> Provide your first name </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of birth
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.dateNaissance) }}
                                    <div class="input-group date date-picker" data-date="12-02-2012"
                                         data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                     <span class="input-group-btn">
                                         <button class="btn default" type="button">
                                               <i class="fa fa-calendar"></i>
                                         </button>
                                      </span>{{ form_widget(form.dateNaissance, {'attr':{'readonly':'true'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Gender
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="mt-radio-list">
                                        {{ form_widget(form.genre) }}
                                        <span class="help-block"> Provide your gender </span>
                                        <div id="form_gender_error"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Occupation
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.profession) }}
                                    {{ form_widget(form.profession, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> Provide your occupation (or Job) </span>
                                    <span class="help-block help-block-error"> your occupation (or Job) is incorrect</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Address
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.adresse) }}
                                    {{ form_widget(form.adresse, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> Provide your street and city address </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Phone number
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.telephone) }}
                                    {{ form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
                                    <span class="help-block"> Provide your phone number</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Pays
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    {{ form_errors(form.pays) }}
                                    {{ form_widget(form.pays, {'attr':{'class':'form-control country_list'}}) }}
                                    <span class="help-block"> Provide your country </span>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab3">
                            <h3 class="block">Provide your billing and credit card details</h3>
                            <div class="form-group">
                                <label class="control-label col-md-3">Card Holder Name
                                    <span class="required">  </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="card_name"/>
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Card Number
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="card_number"/>
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">CVC
                                    <span class="required"> </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" placeholder="" class="form-control" name="card_cvc"/>
                                    <span class="help-block">  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Expiration(MM/YYYY)
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" placeholder="MM/YYYY" maxlength="7" class="form-control"
                                           name="card_expiry_date"/>
                                    <span class="help-block"> e.g 11/2020 </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Payment Options
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="checkbox-list">
                                        <label>
                                            <input type="checkbox" name="payment[]" value="1"
                                                   data-title="Auto-Pay with this Credit Card."/> Auto-Pay with this
                                            Credit Card </label>
                                        <label>
                                            <input type="checkbox" name="payment[]" value="2"
                                                   data-title="Email me monthly billing."/> Email me monthly billing
                                        </label>
                                    </div>
                                    <div id="form_payment_error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <h3 class="block">Confirm your account information</h3>
                            <div class="row">
                                <div class="thumbnail pull-right">
                                        <div class="caption">
                                            <h4>Your photo</h4>
                                            please treat it and submit
                                        </div>
                                        <div id="view-image"></div><br/>
                                        <hr/>
                                        <div class="caption-desc">
                                            <input type="hidden" id="crop_x" name="x"/>
                                            <input type="hidden" id="crop_y" name="y"/>
                                            <input type="hidden" id="crop_w" name="w"/>
                                            <input type="hidden" id="crop_h" name="h"/>
                                            <h5>Change file?</h5>
                                             {{ form_errors(form.imageFile)}}
                                            {{ form_widget(form.imageFile, {'attr':{'class':'inline-block preview-file-input'}}) }}
                                            <div class="inline-block pull-right">
                                                <a class="btn btn-sm green"> validate </a>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-5">
                                    <h4 class="form-section">Account</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">User name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[username]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[email]"></p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Profile details</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Last name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[nom]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">First name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[prenom]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Gender:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[genre]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Phone:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[telephone]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Full address:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[adresse]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Occupation:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[profession]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Country:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[pays]"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Date of birth:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"
                                               data-display="apm_utilisateur_avm_registration[dateNaissance]"></p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Billing</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Holder Name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_name"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Number:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_number"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">CVC:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_cvc"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Expiration:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_expiry_date"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Options:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="payment[]"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a class="btn default button-previous">
                                <i class="fa fa-angle-left"></i> Back </a>
                            <a class="btn btn-outline green button-next"> Continue
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <button type="submit" class="btn green button-submit"> Submit
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock body_container  %}