{% extends ":base/dashboard:layout.html.twig" %}
{%- block title -%} {{ parent() }} | Service Client {% endblock %}

{% block content_body %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <h1>Service Client</h1>
        <ul class="nav nav-tabs pull-left">
            <li class="active" id="tab1">
                <a href="#tab_1" data-toggle="tab"> Requêtes client </a>
            </li>
            {% if app.user.boutiquesProprietaire != null or app.user.boutiquesGerant != null %}
                <li id="tab2">
                    <a href="#tab_2" data-toggle="tab"> Boutique : Requêtes reçues </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="row">
        <div class="tab-content">
            <div class="portlet tab-pane active" id="tab_1">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Table de réquêtes sur les produits </span>
                    </div>
                    <div class="tools pull-right">
                        <a class="fa fa-compress compress-item"> </a>
                        <a class="fa fa-expand hidden expand-item"> </a>
                        <a href="javascript:;" class="collapse"> </a>
                        <a class="config"></a>
                        <a class="reload tab-reload"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <button class="btn  btn-sm sbold green composer_item">
                                        <i class="fa fa-plus"></i> Compose
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button style="margin-bottom: auto"
                                            class="btn btn-sm dark btn-outline dark see_item"
                                            data-target="#stack1" data-toggle="modal">
                                        <i class="fa fa-eye"></i> See
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button style="margin-bottom: auto"
                                            class="btn  btn-sm purple btn-outline purple edit_item">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button style="margin-bottom: auto"
                                            class="btn  btn-sm red btn-outline red delete_item">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group">
                                    <button class="btn btn-sm blue btn-outline share_item">
                                        <i class="fa fa-share"></i> Share
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-sm green btn-outline filter-submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn  btn-sm red btn-outline filter-cancel">
                                        <i class="fa fa-times"></i> Reset
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn  btn-sm green  btn-outline dropdown-toggle"
                                            data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-element">
                        <table class="table table-hover table-striped table-bordered table-checkable datatable_ajax">
                            <thead>
                            <tr role="row" class="heading">
                                <th>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable"
                                               data-set="#sample_2 .checkboxes"/>
                                        <span></span>
                                    </label>
                                </th>
                                <th width="2%">Records&nbsp;#</th>
                                <th> Offre</th>
                                <th> Boutique</th>
                                <th> Date de l'émission</th>
                                <th class="desc" width="20%"> Description du problème</th>
                                <th width="10%"> Etat du produit</th>
                            </tr>
                            <tr role="row" class="filter">
                                <td></td>
                                <td><strong>save state:</strong>
                                    <input type="checkbox" class="form-filter" name="code_filter" placeholder="reference:"></td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm"
                                           name="offre_filter"></td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="boutique_filter">
                                </td>
                                <td>
                                    <div class="input-group date date-picker margin-bottom-5"
                                         data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly
                                               name="date_from_filter" placeholder="From:">
                                        <span class="input-group-btn"><button class="btn btn-sm default"
                                                                              type="button"><i
                                                        class="fa fa-calendar"></i></button></span>
                                    </div>
                                    {#<span class="input-group-btn"><button class="btn btn-sm default date-reset" type="button"><i class="fa fa-times"></i></button></span>#}
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly
                                               name="date_to_filter" placeholder="To:">
                                        <span class="input-group-btn"><button class="btn btn-sm default"
                                                                              type="button"><i
                                                        class="fa fa-calendar"></i></button></span>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="desc_filter">
                                </td>
                                <td>
                                    <select name="etat_filter" class="form-control form-filter input-sm">
                                        <option value="">Selectionner...</option>
                                        <option value="0">En panne</option>
                                        <option value="1">Problème résolu</option>
                                        <option value="2">En cours de diagnostic</option>
                                        <option value="3">En cours de dépannage</option>
                                        <option value="4">Déclaré hors service</option>
                                        <option value="5">En observation</option>
                                        <option value="6">Frais exigible</option>
                                        <option value="7">Demande rejeté</option>
                                        <option value="8">Problème soumis</option>
                                    </select>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 hidden form-element thumbnail form1">
                    {{ form_start(form, {"attr":{"enctype":"multipart/form-data", "method":"post"}}) }}
                    <h4> demandez un service pour un produit achete</h4>
                    <div class="form-group">
                        {{ form_widget(form.id, {'attr':{'name':'id'}}) }}
                        {{ form_label(form.code, 'Reférence:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form.code, {'attr':{'name':'code', 'value':'automatique' ,'readonly':'true'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.offre) }}
                        {{ form_label(form.offre, 'Offre:', {'attr':{'class':'control-label'}}) }}
                        <div class="input-group select2-bootstrap-prepend">
                            <span class="input-group-addon"><input type="checkbox"></span>
                            {{ form_widget(form.offre, {'attr':{'name':'offre', 'readonly':'true'},'placeholder': 'selectionnez le produit ici...'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.etat) }}
                        {{ form_label(form.etat, 'Etat:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form.etat, {'attr':{'name':'etat', 'disabled':"true"}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.boutique, 'Boutique:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form.boutique, {'attr':{'name':'boutique', 'disabled':"true"}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.descriptionPanne) }}
                        {{ form_label(form.descriptionPanne, 'Description du problème:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form.descriptionPanne, {'attr':{'class':'form-control desc', 'name':'description', "placeholder": "décrivez le problème ici..."}}) }}
                        {{ form_widget(form.client, {'attr':{'class':'hidden'}}) }}
                        {{ form_widget(form.commentaire, {'attr':{'class':'hidden'}}) }}
                    </div>
                    <input type="submit" value="Soumettre"/>
                    <input type="reset" value="Effacer"/>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="portlet tab-pane" id="tab_2">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Table de requêtes Client:Boutique </span>
                    </div>
                    <div class="tools pull-right">
                        <a class="fa fa-compress compress-item"> </a>
                        <a class="fa fa-expand hidden expand-item"> </a>
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#" class="config"></a>
                        <a class="reload tab-reload"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn btn-sm green"> Add New
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button style="margin-bottom: auto" class="btn btn-sm btn-outline dark see_item"
                                            data-target="#stack2" data-toggle="modal"> Aperçu
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button style="margin-bottom: auto" class="btn btn-sm purple btn-outline edit_item">
                                        Repondre
                                        <i class="fa fa-send-o"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group">
                                    <button class="btn btn-sm blue btn-outline share_item">
                                        <i class="fa fa-share"></i> Share
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-sm green btn-outline filter-submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn  btn-sm red btn-outline filter-cancel">
                                        <i class="fa fa-times"></i> Reset
                                    </button>
                                </div>
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-element">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column table-advance datatable_ajax">
                            <thead>
                            <tr role="row" class="heading">
                                <th>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable"
                                               data-set="#sample_2 .checkboxes"/>
                                        <span></span>
                                    </label>
                                </th>
                                <th width="2%">Records&nbsp;#</th>
                                <th><i class="fa fa-briefcase"></i>Offre</th>
                                <th><i class="fa fa-briefcase"></i>Boutique</th>
                                {#<th><i class="fa fa-user"></i>Affiliation</th>#}
                                <th><i class="fa fa-user"></i>Date</th>
                                <th><i class="fa fa-shopping-cart"></i>Description du problème</th>
                                <th class="etat"><i class="fa fa-user"></i>Etat</th>
                            </tr>
                            <tr role="row" class="filter">
                                <td></td>
                                <td><strong>save state:</strong>
                                    <input type="checkbox" class="form-filter" name="code_filter" placeholder="reference:"></td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm"
                                           name="offre_filter"></td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="boutique_filter">
                                    <select name="affiliation_filter" class="form-control form-filter input-sm">
                                        <option value="">Selectionner...</option>
                                        <option value="P">P: "propriétaire"</option>
                                        <option value="G">G: "Gérant"</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group date date-picker margin-bottom-5"
                                         data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly
                                               name="date_from_filter" placeholder="From:">
                                        <span class="input-group-btn"><button class="btn btn-sm default"
                                                                              type="button"><i
                                                        class="fa fa-calendar"></i></button></span>
                                    </div>
                                    {# <span class="input-group-btn"><button class="btn btn-sm default date-reset" type="button"><i class="fa fa-times"></i></button></span>#}
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly
                                               name="date_to_filter" placeholder="To:">
                                        <span class="input-group-btn"><button class="btn btn-sm default"
                                                                              type="button"><i
                                                        class="fa fa-calendar"></i></button></span>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="desc_filter">
                                </td>
                                <td>
                                    <select name="etat_filter" class="form-control form-filter input-sm">
                                        <option value="">Selectionner...</option>
                                        <option value="0">En panne</option>
                                        <option value="1">Problème résolu</option>
                                        <option value="2">En cours de diagnostic</option>
                                        <option value="3">En cours de dépannage</option>
                                        <option value="4">Déclaré hors service</option>
                                        <option value="5">En observation</option>
                                        <option value="6">Frais exigible</option>
                                        <option value="7">Demande rejeté</option>
                                        <option value="8">Problème soumis</option>
                                    </select>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 hidden form-element thumbnail form2">
                    {{ form_start(form2, {"attr":{"enctype":"multipart/form-data", "method":"post"}}) }}
                    <h4> Répondre à une requête </h4>
                    <div class="form-group">
                        {{ form_widget(form2.id, {'attr':{'name':'id'}}) }}
                        {{ form_label(form2.code, 'Reférence:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form2.code, {'attr':{'name':'code', 'value':'automatique' ,'readonly':'true'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form2.offre) }}
                        {{ form_label(form2.offre, 'Offre:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form2.offre, {'attr':{'name':'offre', 'disabled':'true'},'placeholder': ' '}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form2.etat) }}
                        {{ form_label(form2.etat, 'Etat:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form2.etat, {'attr':{'name':'etat', 'readonly':"true"}, 'placeholder': 'précisez l\'état actuel de la réquête ici..' }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form2.boutique, 'Boutique:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form2.boutique, {'attr':{'name':'boutique', 'disabled':"true"}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form2.client, 'Client:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form2.client, {'attr':{'class':'form-control client','name':'client', 'disabled':"true"}, 'placeholder': ' '}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form2.commentaire) }}
                        {{ form_label(form2.commentaire, 'Commentaire:', {'attr':{'class':'control-label'}}) }}
                        {{ form_widget(form2.commentaire, {'attr':{'class':'form-control comment' ,'name':'description', "placeholder": "décrivez la résolution adoptée ici..."}}) }}
                        {{ form_widget(form2.descriptionPanne, {'attr':{'class':'hidden'}}) }}
                    </div>
                    <input type="submit" value="Soumettre"/>
                    <input type="reset" value="Effacer"/>
                    {{ form_end(form2) }}
                </div>
            </div>
            <!-- BEGIN MODAL -->
            <div id="stack1" class="modal fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h1 class="modal-title"> Aperçu de la sélection #1 </h1>
                </div>
                <div class="modal-body">
                    <h5 class="alerte">Veuillez sélectionner aumoins un élément!</h5>
                    <table class="hidden">
                        <tbody>
                        <tr>
                            <th><input type="hidden" class="id"/>Code service:</th>
                            <td class="code"></td>
                        </tr>
                        <tr>
                            <th>Date:</th>
                            <td class="date"></td>
                        </tr>
                        <tr>
                            <th>Boutique:</th>
                            <td class="boutique"></td>
                        </tr>
                        <tr>
                            <th><i class="offreID"></i>Offre:</th>
                            <td class="offre"></td>
                        </tr>
                        <tr>
                            <th>Etat:</th>
                            <td class="hidden etatID"></td>
                            <td class="etat"></td>
                        </tr>
                        <tr>
                            <th>Commentaire du fournisseur:</th>
                            <td class="comment"></td>
                        </tr>
                        <tr>
                            <th>Client:</th>
                            <td class="client"></td>
                        </tr>
                        <tr>
                            <th>Description du problème:</th>
                            <td class="desc"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn green pull-left" data-dismiss="modal"> OK </a>
                    <a class="btn btn-outline blue btn-sm blue edit_item" data-dismiss="modal"><i
                                class="fa fa-edit"></i> Modifier </a>
                    <a class="btn btn-outline red btn-sm red delete_item" data-dismiss="modal"><i
                                class="fa fa-trash-o"></i> Supprimer </a>
                </div>
            </div>
            <!-- END MODAL-->
            <!-- BEGIN MODAL -->
            <div id="stack2" class="modal fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h1 class="modal-title"> Aperçu de la sélection #2 </h1>
                </div>
                <div class="modal-body">
                    <h5 class="alerte">Veuillez sélectionner aumoins un élément!</h5>
                    <table class="hidden">
                        <tbody>
                        <tr>
                            <th><input type="hidden" class="id"/>Code service:</th>
                            <td class="code"></td>
                        </tr>
                        <tr>
                            <th>Date:</th>
                            <td class="date"></td>
                        </tr>
                        <tr>
                            <th>Boutique:</th>
                            <td class="boutique"></td>
                        </tr>
                        <tr>
                            <th><i class="offreID"></i>Offre:</th>
                            <td class="offre"></td>
                        </tr>
                        <tr>
                            <th>Etat:</th>
                            <td class="hidden etatID"></td>
                            <td class="etat"></td>
                        </tr>
                        <tr>
                            <th>Commentaire du fournisseur:</th>
                            <td class="comment"></td>
                        </tr>
                        <tr>
                            <th>Client:</th>
                            <td class="hidden clientID"></td>
                            <td class="client"></td>
                        </tr>
                        <tr>
                            <th>Description du problème:</th>
                            <td class="desc"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn green pull-left" data-dismiss="modal"> Ok </a>
                    <a class="btn btn-outline green btn-sm green edit_item" data-dismiss="modal"><i
                                class="fa fa-share"></i> Repondre </a>
                </div>
            </div>
            <!-- END MODAL-->
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
{% endblock content_body %}
    {% block javascripts %}
        {% javascripts "dashboard/assets/achat/SavPage.js" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock javascripts %}