{% extends ":base/dashboard:layout.html.twig" %}

{% block content_body %}
    <h1>Service_apres_vente list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Produit</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit_services in service_apres_ventes %}
            {% for service_apres_vente in produit_services.services %}
                <tr>
                    <td>
                        <a href="{{ path('apm_achat_service_apres_vente_show', { 'id': service_apres_vente.id }) }}">{{ service_apres_vente.code }}</a>
                    </td>
                    <td>{% if service_apres_vente.dateDue %}{{ service_apres_vente.dateDue|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td><a href="{{ path('apm_vente_offre_show', { 'id': produit_services.offre.id }) }}">{{ produit_services.offre}}</a></td>
                    <td>{{ service_apres_vente.etat }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('apm_achat_service_apres_vente_show', { 'id': service_apres_vente.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('apm_achat_service_apres_vente_edit', { 'id': service_apres_vente.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('apm_achat_service_apres_vente_deleteFromList', { 'id': service_apres_vente.id }) }}">delete</a>
                            </li>

                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_achat_service_apres_vente_new') }}">Créer un nouveau service sur une offre</a>
        </li>
    </ul>
{% endblock %}
