<nav class="navbar-default navbar-static-side" role="navigation">
    <!-- sidebar-collapse -->
    <div class="sidebar-collapse">
        <!-- side-menu -->
        <ul class="nav" id="side-menu">
            <li>
                <!-- user image section-->
                <div class="user-section">
                    <div class="user-section-inner">
                        {% image '@AppBundle/Resources/public/user.jpg' %}
                        <img src="{{ asset_url }}" alt="photo">
                        {% endimage %}
                    </div>
                    <div class="user-info">
                        <div><strong>{{ app.user }}</strong></div>
                        <div class="user-text-online">
                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                        </div>
                    </div>
                </div>
                <!--end user image section-->
            </li>
            <li class="sidebar-search">
                <!-- search section-->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!--end search section-->
            </li>
            <li class="selected">
                <a href="{{ path("apm_admin_homepage") }}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i>UTILISATEUR<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path("apm_admin_index") }}">Administrateur</a>
                    </li>
                    <li>
                        <a href="{{ path("apm_utilisateur_index") }}">Utilisateurs AVM</a>
                    </li>
                </ul>
                <!-- second-level-items -->
            </li>
            <li>
                <a href="#"><i></i>ACHAT<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path("apm_achat_groupe_index") }}">Groupe offre</a>
                    </li>

                </ul>
                <!-- second-level-items -->
            </li>

            <li>
                <a href="#"><i class="fa fa-fla"></i>ANIMATION<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('apm_animation_base_documentaire_index') }}">Base documentaire</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-fla"></i>MARKETING<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-fla"></i>MARKETING DISTRIBUE<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Conseiller</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fla"> </i> MARKETING RESEAU<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Reseautage</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-fla"></i>TRANSPORT<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Livraison</a>
                    <li>
                    <li>
                        <a href="#">Livreur Boutique</a>
                    </li>
                    <li>
                        <a href="#">Transporteur indépendent</a>
                    </li>
                    <li>
                        <a href="#">Zone d'intervention</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- end side-menu -->
    </div>
    <!-- end sidebar-collapse -->
</nav>