{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Livreurs de la boutique {{ boutique }}</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Reférence</th>
            <th>Matricule</th>
        </tr>
        </thead>
        <tbody>
        <p>------------------------------ Livreurs boutique ------------------------------------------------------</p>
        {% for livreur_boutique in livreurs_boutiques %}
            <tr>
                <td>
                    <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': livreur_boutique.id }) }}">{{ livreur_boutique.transporteur.code }}</a>
                </td>
                <td>{{ livreur_boutique.reference }}</td>
                <td>{{ livreur_boutique.transporteur.matricule }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': livreur_boutique.id }) }}">détail</a>
                        </li>
                        {% if app.user == livreur_boutique.boutiqueProprietaire.gerant or app.user == livreur_boutique.boutiqueProprietaire.proprietaire %}
                            <li>
                                <a href="{{ path('apm_transport_livreur_boutique_edit', { 'id': livreur_boutique.id }) }}">modifier</a>
                            </li>
                            <li>
                                <a href="{{ path('apm_transport_livreur_boutique_deleteFromList', { 'id': livreur_boutique.id }) }}">supprimer</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Reférence</th>
            <th>Matricule</th>
            <th>Boutique Propriétaire</th>
        </tr>
        </thead>
        <tbody>
        <p>------------------------------ Livreurs Empruntés ------------------------------------------------------</p>
        {% for livreur_boutique in livreurs_Empruntes %}
            <tr>
                <td>
                    <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': livreur_boutique.id }) }}">{{ livreur_boutique.transporteur.code }}</a>
                </td>
                <td>{{ livreur_boutique.reference }}</td>
                <td>{{ livreur_boutique.transporteur.matricule }}</td>
                <td>{{ livreur_boutique.boutiqueProprietaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': livreur_boutique.id }) }}">détail</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if app.user == boutique.gerant or app.user == boutique.proprietaire %}
            <li>
                <a href="{{ path('apm_transport_livreur_boutique_new', {'id': boutique.id}) }}">Créer un nouveau livreur
                    pour cette boutique</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
