{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Livreur_boutique list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Matricule</th>
            <th>Reférence</th>
        </tr>
        </thead>
        <tbody>
        {% for livreur_boutique in livreur_boutiques %}
            <tr>
                <td>
                    <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': livreur_boutique.id }) }}">{% if livreur_boutique.transporteur==null %} {% else %}{{ livreur_boutique.transporteur.code }}{% endif %}</a>
                </td>
                <td>
                    {% if livreur_boutique.transporteur==null %} {% else %}{{ livreur_boutique.transporteur.matricule }}{% endif %}
                </td>
                <td>
                    {{ livreur_boutique.reference }}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_transport_livreur_boutique_show', { 'id': livreur_boutique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_transport_livreur_boutique_edit', { 'id': livreur_boutique.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_transport_livreur_boutique_deleteFromList', { 'id': livreur_boutique.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_transport_livreur_boutique_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
