{% trans_default_domain 'FOSUserBundle' %}
<h1>Changez votre mot de passe</h1>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
</div>
{{ form_end(form) }}
<p>
    <a href="{{ path('apm_core_dashboard_show', {'id':app.user.id}) }}">Retour sur à votre dashboard</a>
</p>