{% extends ":base/dashboard:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{%- block title -%} E-Trade | Change Password {% endblock %}
{% block content_body %}
    <h1>Changez votre mot de passe</h1>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary">Abandonner</a>
    </div>
    {{ form_end(form) }}
{% endblock content_body %}