{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    Rabais - <a href="{{ path('apm_vente_offre_show',{'id':rabais_offre.offre.id}) }}">{{ rabais_offre.offre }}</a>

    <table>
        <tbody>
        <tr>
            <th>Code</th>
            <td>{{ rabais_offre.code }}</td>
        </tr>
        <tr>
            <th>Date Limite</th>
            <td>{% if rabais_offre.dateLimite %}{{ rabais_offre.dateLimite|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Nombre d'utilisation</th>
            <td>{{ rabais_offre.nombreDefois }}</td>
        </tr>
        <tr>
            <th>Prix revu</th>
            <td>{{ rabais_offre.prixUpdate }}</td>
        </tr>
        <tr>
            <th>Quantité minimum</th>
            <td>{{ rabais_offre.quantiteMin }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_rabais_offre_index', {'id':rabais_offre.offre.id}) }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_rabais_offre_edit', { 'id': rabais_offre.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_rabais_offre_new',{'id':rabais_offre.offre.id}) }}">Créer un nouveau rabais</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
