{% extends "::base.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        Homepage
    </h1>
   {# <p>
        {{ app.user.username }} <br>
        {{ app.user.email }} <br>
        {{ app.user.adresse }} <br>
        {{ app.user.designation }} <br>
        {{ app.user.name }} <br>
    </p>#}
{% endblock %}