{% extends "APMAdminBundle:_Main:layout.html.twig" %}
{% block body %}
    <h1>Transaction des produits</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>BoutiqueEmettrice</th>
            <th>BoutiqueBénéficiaire</th>
            <th>Reférence</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <p>-----------------------------------Transactions produits effectués---------------------------------------</p>
        {% for transaction_produit in transactions %}
            <tr>
                <td>
                    <a href="{{ path('apm_vente_transaction_produit_show', { 'id': transaction_produit.id }) }}">{{ transaction_produit.transaction.code }}</a>
                    {% if transaction_produit.transaction.boutiqueBeneficiaire %}
                <td>{{ transaction_produit.transaction.boutiqueBeneficiaire }}</td>{% endif %}
                <td>{{ transaction_produit.reference }}</td>
                <td>{{ transaction_produit.produit.designation }}</td>
                <td>{{ transaction_produit.produit.quantite }}</td>
                <td>{{ transaction_produit.produit.prixUnitaire }}</td>
                <td>
                    <a href="{{ path('apm_vente_transaction_produit_show', { 'id': transaction_produit.id }) }}">afficher</a>
                    |

                    <a href="{{ path('apm_vente_transaction_produit_edit', { 'id': transaction_produit.id }) }}">modifier</a>
                    |

                    <a href="{{ path('apm_vente_transaction_produit_deleteFromList', { 'id': transaction_produit.id }) }}">supprimer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('apm_vente_transaction_produit_new', {'id': transaction.id}) }}">Ajouter une
        offre à cette transaction</a><br>
    <a href="{{ path('apm_vente_transaction_index') }}">Retour à la liste de mes transactions</a>
{% endblock body %}