{% extends "APMAdminBundle:_Main:layout.html.twig" %}
{% block body %}
    <h1>Transaction_produit list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Designation</th>
            <th>Quantite</th>
            <th>Reference</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction_produit in transaction_produits %}
            <tr>
                <td>
                    <a href="{{ path('apm_vente_transaction_produit_show', { 'id': transaction_produit.id }) }}">{{ transaction_produit.transaction.code }}</a>
                </td>

                <td>{{ transaction_produit.produit.designation }}</td>

                <td>{{ transaction_produit.quantite }}</td>

                <td>{{ transaction_produit.reference }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_vente_transaction_produit_show', { 'id': transaction_produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_transaction_produit_edit', { 'id': transaction_produit.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_transaction_produit_deleteFromList', { 'id': transaction_produit.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_transaction_produit_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
