{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Transaction_produit creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_start(form2) }}
        <input type="submit" value="Create"/>
    {{ form_end(form) }}
    {{ form_end(form2) }}
    <ul>
        <li>
            <a href="{{ path('apm_vente_transaction_produit_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
