{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Conseiller_boutiques list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for conseiller_boutique in conseiller_boutiques %}
            <tr>
                <td>
                    {{ conseiller_boutique.boutique.designation }} |
                </td>
                <td>
                    {{ conseiller_boutique.conseiller.code }} |
                </td>
                <td>
                    {{ conseiller_boutique.conseiller.utilisateur.username }} |
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_marketing_conseiller_boutique_show', { 'id': conseiller_boutique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_marketing_conseiller_boutique_edit', { 'id': conseiller_boutique.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_marketing_conseiller_boutique_deleteFromList', { 'id': conseiller_boutique.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_marketing_conseiller_boutique_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
