{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block titlePage %} Administrateur - {{ admin.username }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mise à Jour.
            </div>
            <div class="panel-body">
                <div class="row">
                    {% trans_default_domain 'FOSUserBundle' %}

                    <form action="{{ path('apm_admin_update', {'id' : admin.id}) }}">
                        <span> {{ form_start(form) }} </span>

                        {{ form_errors(form) }}

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_label(form.email, 'Email', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk-color-red">*</span>
                                {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.username, 'Pseudo', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk-color-red">*</span>
                                {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.plainPassword.first, 'Mot de passe', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk-color-red">*</span>
                                {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.plainPassword.second, 'Confirmer Mot de passe', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk-color-red">*</span>
                                {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_label(form.nom, 'Nom', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.prenom, 'Prénom', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.telephone, 'Numéro de Téléphone', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                {{ form_widget(form.telephone, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                            </div>
                        </div>

                        <div class="col-sm-9 col-sm-offset-3" style="margin-top: 40px;">
                            <div class="pull-right">
                                <input type="submit" value="Valider" class="btn btn-info"/>
                                <a class="btn btn-success " title="Modifier"
                                   href="{{ path("apm_admin_index") }}">
                                    Annuler
                                </a>
                            </div>
                        </div>
                        <span class="hidden"> {{ form_rest(form) }} </span>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
