{% extends "@FOSUser/Security/login-extend.html.twig" %}

{% block custom_stylesheets %}
    {% stylesheets "dashboard/assets/pages/css/lock.min.css" filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}
{% endblock custom_stylesheets %}

{%- block title -%} {{ parent() }}| Lock Screen {%- endblock title -%}

{% block body_login %}
    <div class="page-lock">
        <div class="page-logo">
            <a class="brand" href="#">
                <img src="{{ asset('dashboard/assets/layouts/layout/img/logo.png') }}" alt="logo"/> </a>
        </div>
        <div class="page-body">
            <div class="lock-head"> Locked</div>
            <div class="lock-body">
                <div class="lock-cont">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="lock-item">
                        <div class="pull-left lock-avatar-block">
                            <img src="{{ asset( url_image ~ image) }}" class="lock-avatar"></div>
                    </div>
                    <div class="lock-item lock-item-full">
                        <form class="lock-form pull-left" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <h4>{{ last_username }}</h4>
                            <label for="username"></label>
                            <input type="hidden" autocomplete="off" name="_username" id="username"
                                   value="{{ last_username }}"/>
                            <div class="form-group">
                                <input class="form-control placeholder-no-fix" id="password" type="password"
                                       autocomplete="off" placeholder="Password" name="_password"/>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn red uppercase">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="lock-bottom">
                <a href="{{ path('fos_user_security_logout') }}">Not {{ last_username}} ?</a>
            </div>
        </div>
        <div class="page-footer-custom"> 2017 &copy; HiT-Tel. We-Trade Dashboard.</div>
    </div>
{% endblock body_login %}

{% block javascripts %}
    {% javascripts "dashboard/assets/pages/scripts/lock.min.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}