{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Admin list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Datenaissance</th>
            <th>Pays</th>
            <th>Genre</th>
            <th>Telephone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td><a href="{{ path('apm_user_admin_show', { 'id': admin.id }) }}">{{ admin.code }}</a></td>
                <td>{{ admin.nom }}</td>
                <td>{{ admin.prenom }}</td>
                <td>{% if admin.dateNaissance %}{{ admin.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                <td>{{ admin.pays }}</td>
                <td>{{ admin.genre }}</td>
                <td>{{ admin.telephone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_admin_show', { 'id': admin.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_admin_edit', { 'id': admin.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_admin_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
