{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Admin</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ admin.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ admin.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ admin.prenom }}</td>
        </tr>
        <tr>
            <th>Datenaissance</th>
            <td>{% if admin.dateNaissance %}{{ admin.dateNaissance|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ admin.pays }}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ admin.genre }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ admin.telephone }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('apm_user_admin_edit', { 'id': admin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
