<h1> Nouveau mot de passe </h1>
Username: {{ username }}
{% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(form, { 'action': path(route, {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
</div>
{{ form_end(form) }}

