{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Individu_to_groupe list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Utilisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for individu_to_groupe in individu_to_groupes %}
            <tr>
                <td>
                    <a href="{{ path('apm_user_individu-to-groupe_show', { 'id': individu_to_groupe.id }) }}">{{ individu_to_groupe.code }}</a>
                </td>
                <td>{{ individu_to_groupe.individu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_individu-to-groupe_show', { 'id': individu_to_groupe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_individu-to-groupe_edit', { 'id': individu_to_groupe.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_individu-to-groupe_delete', { 'id': individu_to_groupe.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_individu-to-groupe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
