{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}

    <h1 xmlns="http://www.w3.org/1999/html"> Liste de Groupes d'Individus</h1>

    {% for relations in individu_to_groupes %}
        <a href="{{ path('apm_user_groupe-relationnel_show', {'id':relations.groupe.id}) }}">{{ relations.groupe }}</a>
        {% for membre in relations.personnes %}
            <p>
                {{ membre.individu }}
                <a href="{{ path('apm_user_individu-to-groupe_edit', {'id':membre.id}) }}"> |modifier </a>
                <a href="{{ path('apm_user_individu-to-groupe_deleteFromList', {'id':membre.id}) }}"> retirer du
                    groupe|</a>
            </p>
        {% endfor %}
    {% endfor %}


    <ul>
        <li>
            <a href="{{ path('apm_user_individu-to-groupe_new') }}">Insérer une nouvelle personne</a>
        </li>
        <li>
            <a href="{{ path('apm_user_groupe-relationnel_index') }}">Retour à la liste des groupes</a>
        </li>
    </ul>

{% endblock body %}
