{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}

    <h1 xmlns="http://www.w3.org/1999/html"> Liste des individus du groupe: <a href="{{ path('apm_user_groupe-relationnel_show', {'id':groupe.id}) }}">{{ groupe }}</a></h1>

    {% for individu_groupe in individu_to_groupes %}
        <p>
            <a href="{{ path('apm_user_profile_show', {'id':individu_groupe.individu.id}) }}">{{ individu_groupe.individu }}</a>
            <a href="{{ path('apm_user_individu-to-groupe_edit', {'id':individu_groupe.id}) }}"> |modifier </a>
            <a href="{{ path('apm_user_groupe_individu_new', {'id':individu_groupe.groupeRelationnel.id}) }}"> |inserer une personne </a>
            <a href="{{ path('apm_user_individu-to-groupe_deleteFromList', {'id':individu_groupe.id}) }}">|retirer du
                groupe|</a>
        </p>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('apm_user_groupe-relationnel_index') }}">Retour à la liste des groupes</a>
        </li>
    </ul>

{% endblock body %}
