{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Individu - Groupe</h1>

    Groupe:
    {{ individu_to_groupe.groupeRelationnel }}</br>
    Personne:
    {{ individu_to_groupe.individu }}</br>
    Propriete:
    {{ individu_to_groupe.propriete }}<br>
    Description:
    {{ individu_to_groupe.description }}
    <ul>
        <li>
            <a href="{{ path('apm_user_individu-to-groupe_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('apm_user_individu-to-groupe_edit', { 'id': individu_to_groupe.id }) }}">Modifier</a>
        </li>
        <li>
            <a href="{{ path('apm_user_individu-to-groupe_new') }}">Jouter une nouvelle personne</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
