{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Liste des Communications</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Date de Vigueur</th>
            <th>Reférence</th>
            <th>Valide</th>
            <th>Destinataire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <p>-----------------------------------Envoyée(s)----------------------------------------------------------</p>
        {% for communication in communicationsSent %}
            <tr>
                <td>
                    <a href="{{ path('apm_user_communication_show', { 'id': communication.id }) }}">{{ communication.code }}</a>
                </td>
                <td>{{ communication.dateDeVigueur|date('d-m-Y H:i:s') }}</td>
                <td>{{ communication.reference }}</td>
                <td>{% if communication.valide %}Yes{% else %}No{% endif %}</td>
                <td>{{ communication.recepteur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_communication_show', { 'id': communication.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_communication_edit', { 'id': communication.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_communication_deleteFromList', { 'id': communication.id }) }}">supprimer</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        <p><a href="{{ path('apm_user_communication_new') }}">Créer une nouvelle communication</a></p>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Date de Vigueur</th>
            <th>Reférence</th>
            <th>Valide</th>
            <th>Emetteur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <p>-----------------------------------Reçue(s)----------------------------------------------------------</p>
        {% for communication in communicationsReceived %}
            <tr>
                <td>
                    <a href="{{ path('apm_user_communication_show', { 'id': communication.id }) }}">{{ communication.code }}</a>
                </td>
                <td>{{ communication.dateDeVigueur|date('d-m-Y H:i:s') }}</td>
                <td>{{ communication.reference }}</td>
                <td>{% if communication.valide %}Yes{% else %}No{% endif %}</td>
                <td>{{ communication.emetteur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_communication_show', { 'id': communication.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_communication_edit', { 'id': communication.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_communication_deleteFromList', { 'id': communication.id }) }}">supprimer</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
