{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Communication list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Date de Vigueur</th>
            <th>Reférence</th>
            <th>Type</th>
            <th>Valide</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for communication in communications %}
            <tr>
                <td>
                    <a href="{{ path('apm_user_communication_show', { 'id': communication.id }) }}">{% if communication.message==null %}{% else %}{{ communication.message.code }}{% endif %}</a>
                </td>
                <td>{{ communication.dateDeVigueur|date('d-m-Y H:i:s') }}</td>
                <td>{{ communication.reference }}</td>
                <td>{{ communication.type }}</td>
                <td>{% if communication.valide %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_user_communication_show', { 'id': communication.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_communication_edit', { 'id': communication.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_user_communication_deleteFromList', { 'id': communication.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_communication_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
