{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Communication</h1>

    <table>
        <tbody>
        <tr>
            <th>Date d'émission</th>
            <td>{{ communication.date|date('Y-m-d H:i:s') }}</td>
        <tr>
        <tr>
            <th>Emetteur</th>
            <td>{{ communication.emetteur }}</td>
        </tr>
        <tr>
            <th>Destinataire</th>
            <td>{{ communication.recepteur }}</td>
        </tr>
        <tr>
            <th>Objet</th>
            <td>{{ communication.objet }}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ communication.code }}</td>
        </tr>
        <tr>
            <th>Reférence</th>
            <td>{{ communication.reference }}</td>
        </tr>

        <tr>
            <th>Datedevigueur</th>
            <td>{% if communication.dateDeVigueur %}{{ communication.dateDeVigueur|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ communication.dateFin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ communication.contenu }}</td>
        </tr>
        <tr>
            <th>Valide</th>
            <td>{% if communication.valide %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ communication.type }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_user_communication_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('apm_user_communication_edit', { 'id': communication.id }) }}">modifier</a>
        </li>
        <li>
            <a href="{{ path('apm_user_communication_new') }}">Créer une nouvelle communication</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
