{% extends ":base/dashboard:layout.html.twig" %}

{% block content_body %}
    <table>
        <thead>
        <tr>---------------------------- Boutiques -------------------------------</tr>
        <tr>
            <th>Code</th>
            <th>Designation</th>
            <th>Statut Social</th>
            <th>Proprietaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for boutique in boutiquesProprietaire %}
            <tr>
                <td>
                    <a href="{{ path('apm_vente_boutique_show', { 'id': boutique.id }) }}">{{ boutique.code }}</a>
                </td>
                <td>{{ boutique.designation }}</td>
                <td>{{ boutique.statutSocial }}</td>
                <td>{{ boutique.proprietaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_vente_boutique_show', { 'id': boutique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_boutique_edit', { 'id': boutique.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_boutique_deleteFromList', { 'id': boutique.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_boutique_new') }}">Créer une nouvelle boutique</a>
        </li>
    </ul>

    {% if boutiquesGerant %}
    <table>
        <thead>
        <tr>----------------------------- Boutiques Gérances ------------------------------</tr>
        <tr>
            <th>Code</th>
            <th>Nationalite</th>
            <th>Designation</th>
            <th>Raison Sociale</th>
            <th>Statut Social</th>
            <th>Proprietaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for boutique in boutiquesGerant %}
            <tr>
                <td>
                    <a href="{{ path('apm_vente_boutique_show', { 'id': boutique.id }) }}">{{ boutique.code }}</a>
                </td>
                <td>{{ boutique.designation }}</td>
                <td>{{ boutique.nationalite }}</td>
                <td>{{ boutique.raisonSociale }}</td>
                <td>{{ boutique.statutSocial }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_vente_boutique_show', { 'id': boutique.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <p><a href="{{ path('apm_core_user-dashboard_index') }}"> Retour à l'accueil</a></p>
{% endblock content_body %}
