{% extends ":base/dashboard:layout.html.twig" %}

{% block content_body %}

    <h1>Boutique</h1>

    <table>
        <tbody>
        <tr>
            <th>Designation</th>
            <td><strong>{{ boutique.designation }}</strong></td>
        </tr>
        <tr>
            <th>Propriétaire</th>
            <td>{{ boutique.proprietaire }}</td>
        </tr>

        <tr>
            <th>Code</th>
            <td>{{ boutique.code }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ boutique.description }}</td>
        </tr>
        <tr>
            <th>Nationalite</th>
            <td>{{ boutique.nationalite }}</td>
        </tr>

        <tr>
            <th>Raisonsociale</th>
            <td>{{ boutique.raisonSociale }}</td>
        </tr>
        <tr>
            <th>Statutsocial</th>
            <td>{{ boutique.statutSocial }}</td>
        </tr>
        <tr>
            <th>Gérant</th>
            <td>{% if boutique.gerant %}
                    {% if boutique.gerant.nom %}{{ boutique.gerant.nom }}{% endif %}
                    {% if boutique.gerant.prenom %} {{ boutique.gerant.prenom }}{% endif %}
                    pseudo :{{ boutique.gerant.username }}
                {% endif %}</td>
        </tr>
        <tr>
            <th>Offres hors categorie</th>
            {% for offre in boutique.offres %}
                 {% if offre.categorie == null %}
                     <td>
                         <a href="{{ path('apm_vente_offre_show', { 'id': offre.id }) }}">{{ offre.designation }}</a>|
                     </td>
                 {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ asset(url_image ~ boutique.image) }}"/></td>
        </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_offre_boutique_index', {'id':boutique.id}) }}"> Liste toutes les offres de cette
                boutique </a>
        </li>
        <li>
            <a href="{{ path('apm_vente_categorie_index', {'id':boutique.id}) }}"> Liste les catégories de cette
                boutique </a>
        </li>
        <li>
            <a href="{{ path('apm_vente_boutique_index') }}"> Retour à la liste de mes boutiques</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_boutique_edit', { 'id': boutique.id }) }}">Modifier la boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_remise_boutique_index', {'id':boutique.id}) }}">Liste les remises d'offres
                boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_transaction_boutique_index', {'id':boutique.id}) }}">Liste les transactions de
                la boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_transport_livraison_boutique_index', {'id':boutique.id}) }}">Liste les livraisons de
                la boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_transaction_boutique_new', {'id':boutique.id}) }}">Créer une transaction
                boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_transport_livraison_boutique_new', {'id':boutique.id}) }}">Créer une livraison à
                partir de cette boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_transaction_produit_accueil_new') }}">Créer une transaction des produits de la
                boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_marketing_conseiller_boutique_shop_new',  {'id':boutique.id}) }}">S'enregistrer comme
                conseiller de cette boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_marketing_boutique_conseiller_index', {'id':boutique.id}) }}">Liste les conseillers de
                cette boutique</a>
        </li>
        {% if app.user.profileConseiller %}
            <li>
                <a href="{{ path('apm_marketing_conseiller_boutique_deleteFromBoutique',
                {'conseiller_id':app.user.profileConseiller.id,'boutique_id':boutique.id}) }}"> désactiver mon
                    enregistrement conseiller pour cette boutique</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('apm_marketing_quota_new', {'id':boutique.id}) }}">Créer des commissions</a>
        </li>
        <li>
            <a href="{{ path('apm_marketing_commissionnement_new', {'id':boutique.id}) }}">Attribuer des commissions aux
                conseillers</a>
        </li>
        <li>
            <a href="{{ path('apm_marketing_commissionnement_boutique_index', {'id':boutique.id}) }}">Lister les
                commissionnements accordées par la boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_achat_service_apres_vente_boutique_index', {'id':boutique.id}) }}">Liste les SAV
                enregistrées sur les produits de cette boutique</a>
        </li>
        {% if delete_form %}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock content_body %}
