{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Boutique</h1>

    <table>
        <tbody>
        <tr>
            <th>Designation</th>
            <td><strong>{{ boutique.designation }}</strong></td>
        </tr>
        <tr>
            <th>Propriétaire</th>
            <td>{{ boutique.proprietaire }}</td>
        </tr>

        <tr>
            <th>Code</th>
            <td>{{ boutique.code }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ boutique.description }}</td>
        </tr>
        <tr>
            <th>Nationalite</th>
            <td>{{ boutique.nationalite }}</td>
        </tr>

        <tr>
            <th>Raisonsociale</th>
            <td>{{ boutique.raisonSociale }}</td>
        </tr>
        <tr>
            <th>Statutsocial</th>
            <td>{{ boutique.statutSocial }}</td>
        </tr>
        <tr>
            <th>Gérant</th>
            <td>{% if boutique.gerant %}
                    {% if boutique.gerant.nom %}{{ boutique.gerant.nom }}{% endif %}
                    {% if boutique.gerant.prenom %} {{ boutique.gerant.prenom }}{% endif %}
                    pseudo :{{ boutique.gerant.username }}
                {% endif %}</td>
        </tr>
        <tr>
            <th>Categories des offres</th>
            {% for categorie in boutique.categories %}
                <td>
                    <a href="{{ path('apm_vente_categorie_show', { 'id': categorie.id }) }}">{{ categorie.designation }}</a>|
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Offres hors categorie</th>
            {% for offre in boutique.offres %}
                 {% if offre.categorie == null %}
                     <td>
                         <a href="{{ path('apm_vente_offre_show', { 'id': offre.id }) }}">{{ offre.designation }}</a>|
                     </td>
                 {% endif %}
            {% endfor %}
        </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_boutique_index') }}"> Retour à la boutique</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_boutique_edit', { 'id': boutique.id }) }}">Modifier</a>
        </li>

        {% if delete_form %}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
