{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1> Categories - <a href="{{ path('apm_vente_boutique_show', {'id': boutique.id}) }}"> {{ boutique }}</a></h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Designation</th>
            <th>Livrable?</th>
            <th>Etat</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>
                    <a href="{{ path('apm_vente_categorie_show', { 'id': categorie.id }) }}">{{ categorie.code }}</a>
                </td>
                <td>{{ categorie.designation }}</td>
                <td>{% if categorie.livrable %}Yes{% else %}No{% endif %}</td>
                <td>{{ categorie.etat }}</td>
                <td>{{ categorie.image }}</td>
                <td>

                    <a href="{{ path('apm_vente_categorie_show', { 'id': categorie.id }) }}">show</a> |

                    <a href="{{ path('apm_vente_categorie_edit', { 'id': categorie.id }) }}">edit</a> |

                    <a href="{{ path('apm_vente_categorie_deleteFromList', { 'id': categorie.id }) }}">delete</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_categorie_new', {'id':boutique.id}) }}">Créer une nouvelle catégorie</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_boutique_show', {'id':boutique.id}) }}">Retour à la boutique</a>
        </li>
    </ul>
{% endblock %}
