{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>{{ categorie }} - <a href="{{ path('apm_vente_boutique_index') }}"> {{- categorie.boutique }}</a></h1>

    <table>
        <tbody>
        <tr>
            <th>Code:</th>
            <td>{{ categorie.code }}</td>
        </tr>
        <tr>
            <th>Designation:</th>
            <td>{{ categorie.designation }}</td>
        </tr>
        <tr>
            <th>Categorie parent:</th>
            <td>{% if categorie.categorieCourante %}<a
                    href="{{ path('apm_vente_categorie_show', {'id': categorie.categorieCourante.id}) }}">{{ categorie.categorieCourante.designation }}</a>{% endif %}
            </td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ categorie.description }}</td>
        </tr>
        <tr>
            <th>Produit Livrable ?:</th>
            <td>{% if categorie.livrable %}Yes{% else %}No{% endif %}</td>
        </tr>

        {#<tr>
            <th>Offres de la catégorie</th>
            {% for offre in categorie.offres %}
                <td> <a href="{{ path('apm_vente_offre_show', {'id': offre.id}) }}">{{ offre.designation }}</a>,</td>
            {% endfor %}
        </tr>#}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_offre_boutique-categorie_index', {'id': categorie.boutique.id, 'categorie_id': categorie.id}) }}">Liste
                les offres de cette catégorie</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_categorie_index', {'id': categorie.boutique.id}) }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_categorie_edit', { 'id': categorie.id }) }}">Modifier</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_categorie_new', {'id': categorie.boutique.id}) }}">Créer une nouvelle</a>
        </li>
        {% if delete_form %}
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
