{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Livraison</h1>

    <table>
        <tbody>
        <tr>
            <th>Dateetheurelivraison</th>
            <td>{% if livraison.dateEtHeureLivraison %}{{ livraison.dateEtHeureLivraison|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ livraison.description }}</td>
        </tr>
        <tr>
            <th>Etatlivraison</th>
            <td>{{ livraison.etatLivraison }}</td>
        </tr>
        <tr>
            <th>Priorite</th>
            <td>{{ livraison.priorite }}</td>
        </tr>
        <tr>
            <th>Valide</th>
            <td>{% if livraison.valide %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ livraison.code }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        {% if app.user == livraison.utilisateur or livraison.boutique != null and app.user == livraison.boutique.gerant or livraison.boutique != null and app.user == livraison.boutique.proprietaire %}
            {% if livraison.boutique %}
                <li>
                    <a href="{{ path('apm_transport_livraison_boutique_index', {'id':livraison.boutique.id}) }}">Retour
                        aux livraisons de la boutique</a>
                </li>
                <li>
                    <a href="{{ path('apm_transport_livraison_boutique_new', {'id':livraison.boutique.id}) }}">Créer une
                        nouvelle livraison</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('apm_transport_livraison_index') }}">Retour aux livraisons de l'utilisateur</a>
                </li>
                <li>
                    <a href="{{ path('apm_transport_livraison_new') }}">Créer une nouvelle livraison</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('apm_transport_livraison_edit', { 'id': livraison.id }) }}">Modifier/ajouter operations</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('apm_vente_transaction_livraison_index', { 'livraison_id': livraison.id }) }}">Liste les
                opérations de cette livraison</a>
        </li>
        <li>
            <a href="{{ path('apm_vente_transaction_index') }}">Retour à mes transactions </a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
