{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Livraison</h1>

    <table>
        <tbody>
        <tr>
            <th>Dateetheurelivraison</th>
            <td>{% if livraison.dateEtHeureLivraison %}{{ livraison.dateEtHeureLivraison|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ livraison.description }}</td>
        </tr>
        <tr>
            <th>Etatlivraison</th>
            <td>{{ livraison.etatLivraison }}</td>
        </tr>
        <tr>
            <th>Priorite</th>
            <td>{{ livraison.priorite }}</td>
        </tr>
        <tr>
            <th>Valide</th>
            <td>{% if livraison.valide %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Code</th>
            <td>{{ livraison.code }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_transport_livraison_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('apm_transport_livraison_edit', { 'id': livraison.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('apm_transport_livraison_new') }}">Add a new one</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
