{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Suggestion_produit list</h1>

    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for suggestion_produit in suggestion_produits %}
            <tr>
                <td>
                    <a href="{{ path('apm_vente_suggestion_offre_show', { 'id': suggestion_produit.id }) }}">{{ suggestion_produit.code }}</a>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apm_vente_suggestion_offre_show', { 'id': suggestion_produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_suggestion_offre_edit', { 'id': suggestion_produit.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('apm_vente_suggestion_offre_deleteFromList', { 'id': suggestion_produit.id }) }}">delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apm_vente_suggestion_offre_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
