<!-- END FEATURED CATEGORIES -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_e1py block block_1">
    <div class="block-categories module">
        <h3 class="modtitle"><span>Featured Categories</span></h3>
        <div class="cate-content">
            <div class="cate cate1">
                <div class="inner"><a href="javascript:void(0);"><img src="{{ asset('Shop/image/catalog/demo/banners/home1/cate1.jpg')}}" alt="Static Image"></a><a class="title-cate" href="javascript:void(0);">Watches</a></div>
            </div>
            <div class="cate cate2">
                <div class="inner"><a href="javascript:void(0);"><img src="{{ asset('Shop/image/catalog/demo/banners/home1/cate2.jpg')}}" alt="Static Image"></a><a class="title-cate" href="javascript:void(0);">Bags</a></div>
            </div>
            <div class="cate cate3">
                <div class="inner"><a href="javascript:void(0);"><img src="{{ asset('Shop/image/catalog/demo/banners/home1/cate3.jpg')}}" alt="Static Image"></a><a class="title-cate" href="javascript:void(0);">Swimwears</a></div>
            </div>
            <div class="cate cate4">
                <div class="inner"><a href="javascript:void(0);"><img src="{{ asset('Shop/image/catalog/demo/banners/home1/cate4.jpg')}}" alt="Static Image"></a><a class="title-cate" href="javascript:void(0);">Shoes</a></div>
            </div>
            <div class="cate cate5">
                <div class="inner"><a href="javascript:void(0);"><img src="{{ asset('Shop/image/catalog/demo/banners/home1/cate5.jpg')}}" alt="Static Image"></a><a class="title-cate" href="javascript:void(0);">Fashion</a></div>
            </div>
        </div>
    </div>
</div>
<!-- END FEATURED CATEGORIES -->