<html>
<nav class="container navbar navbar-default img-rounded" role="navigation">
    {# Responsive nav bar#}
    <div class="nav-header nav-justified" style="width: auto">
        <button type="button" style="padding-right: auto" class="navbar-toggle img-responsive" data-toggle="collapse"
                data-target="#bsresponsif">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <span class="navbar-brand"><a href="#"><small>Trade</small></a></span>
    </div>

    <div class="collapse navbar-collapse" id="bsresponsif">
        <div class="row">
            <div class="col-lg-2">
                <div class="row">
                    <a href="#">
                        {% image "admin/assets/img/logoHTmodif.png" %}
                        <img src="{{ asset_url }}" alt="E-T logo" class="img-responsive"/>
                        {% endimage %}
                    </a>
                </div>
                <div class="row">
                    <p>
                        {% block sidebar %}
                            {% include ":base/dashboard:sidebar_dashboard.html.twig" %}
                        {% endblock %}
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row responsive-utilities-test">
                    <form class="navbar-form" role="search" style="position: relative" action="#">
                        <div class="form-group input-group">
                            <div class="input-group-btn">
                                <button style="border-radius: 0 0" class="btn btn-default embed-responsive-item"
                                        tabindex="-1">
                                    <small>search</small>
                                </button>
                            </div>

                            <div class="input-group-btn">
                                <button style="border-radius: 0 0"
                                        class="btn btn-default dropdown-toggle embed-responsive-item"
                                        data-toggle="dropdown" tabindex="-1">
                                    <span class="caret"></span>
                                    <span class="sr-only">toggle</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"> categorie</a></li>
                                    <li><a href="#"> categorie</a></li>
                                    <li><a href="#"> categorie</a></li>
                                    <li><a href="#"> categorie</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"> categorie</a></li>
                                    <li><a href="#"> categorie</a></li>
                                    <li><a href="#"> categorie</a></li>
                                    <li><a href="#"> categorie</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="browsing..."/>
                            <span class="input-group-btn"><button type="submit"
                                                                  class="btn btn-default">Go!</button> </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#">HOME</a></li>
                        <li class="dropdown text-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Onglet<br/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li class="divider"></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown text-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Onglet<br/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li class="divider"></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown text-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Onglet<br/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li class="divider"></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown text-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Onglet<br/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li class="divider"></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown text-center"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Onglet<br/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li class="divider"></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                                <li><a href="#">sous-menu</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> {# --end middle clumn#}
            <div class="col-lg-4 navbar-right">
                {# gestion de la connexion des utilisateur et l'utilisateur anonyme#}
                <div class="row">
                    <p class="thumbnail">
                        {% image "client/assets/img/user.jpg" %}
                        <img src="{{ asset_url }}" alt="aucune photo" class="img-responsive"/>
                        {% endimage %} <br/>
                        Hello
                        {% if app.user.prenom != null %} {{ app.user.prenom }}!
                        {% elseif app.user.nom != null %} Mr/Ms {{ app.user.nom }},
                        {% elseif app.user.username != null %} utilisateur {{ app.user.username }}
                        {% endif %}
                    </p>
                    <p>
                        <em><a href="{{ path('apm_core_main_show') }}">plateforme</a></em>
                        |
                        <em><a href="{{ path('fos_user_security_logout') }}">déconnexion</a></em>
                        |
                        <em><a href="{{ path('fos_user_profile_show') }}">profile</a></em>
                        |
                        <em><a href="{{ path('fos_user_change_password') }}">changez votre mot passe</a></em>
                    </p>
                </div>
                <div class="row">
                    <p>infos<br/>Autre infos
                        Autre infos<br/>Autre infos
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
</html>