{% extends ":base/dashboard:layout.html.twig" %}
{%- block title -%} {{ parent() }} | Groupe d'offres {% endblock %}

{% block content_body %}
    <div class="page-bar">
        <h1>Groupement de produits</h1>
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-circle"></i>
                <a href="#">Groupe produit</a>
            </li>
            <li>
                <i class="fa fa-circle"></i>
                <a href="#">Manipulation</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-9">
            {% for groupe_offre in groupe_offres %}
                <div class="thumbnail margin-top-10">
                    <h1>{{- groupe_offre }}</h1>
                    Pour <strong> {%- if groupe_offre.propriete == 0 %} Acheter
                        {%- elseif groupe_offre.propriete == 1 %} Suivre
                        {%- elseif groupe_offre.propriete == 2 %} Contacter le vendeur
                        {%- elseif groupe_offre.propriete == 3 %} Stocker
                        {%- elseif groupe_offre.propriete == 4 %} Revendre
                        {%- elseif groupe_offre.propriete == 5 %} Autre raison{% endif %}
                    </strong><br/>
                    {% if groupe_offre.dateDeVigueur %}
                        <small>date de l'opération: {{ groupe_offre.dateDeVigueur }}</small>{% endif %}
                    <br/>Alerte activée: {% if groupe_offre.recurrent %}<b>Oui</b>{% else %}<b>non</b>{% endif %}
                    <ul class="pull-right">
                        {% for offre in groupe_offre.offres %}
                            <li><a href="{{ path('apm_vente_offre_show', {'id':offre.id}) }}">{{ offre }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="caption">
                        <h3>
                            <a href="{{ path('apm_achat_groupe_edit', { 'id': groupe_offre.id}) }}">{{ groupe_offre.code }}</a>
                        </h3>
                        <p>{{ groupe_offre.description }}</p>

                        <a href="{{ path('apm_achat_groupe_edit', { 'id': groupe_offre.id }) }}"
                           class="btn btn-primary">edit</a>
                        <a href="{{ path('apm_achat_groupe_delete', { 'id': groupe_offre.id }) }}"
                           class="btn btn-primary">delete</a>
                        <a href="{{ path('apm_vente_offre_groupe_index', { 'groupe_id': groupe_offre.id }) }}"
                           class="btn btn-primary">liste tous les produits &raquo</a>
                        <a href="#" class="btn btn-primary fa fa-user"> partager</a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content_body %}