{% extends "APMAdminBundle:_Main:layout.html.twig" %}

{% block body %}
    <h1>Groupe_offre</h1>
    <table>
        <tbody>
        <tr>
            <th>Datedevigueur</th>
            <td>{% if groupe_offre.dateDeVigueur %}{{ groupe_offre.dateDeVigueur|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ groupe_offre.description }}</td>
        </tr>
        <tr>
            <th>Recurrent</th>
            <td>{% if groupe_offre.recurrent %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td><h5>{{ groupe_offre.designation }}</h5></td>
        </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('apm_achat_groupe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('apm_achat_groupe_edit', { 'id': groupe_offre.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('apm_achat_groupe_new') }}">Add a new one</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
